{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign full_width = '100vw'
  assign widths = '320, 360, 375, 420, 550, 750, 768, 950, 1024, 1100, 1280, 1360, 1440, 1500, 1780, 1920, 2000, 2560, 3000'
-%}

<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.section_background }};
  }
</style>

<filter-slider class="filter-slider {% if section.settings.section_full_width != true  %}not-full{% endif %}" data-section-id="section-{{ section.id }}">

  {%- if section.blocks.size > 1 -%}
    <div class="pagination">
      {%- for block in section.blocks -%}
        {% if forloop.index == 1 %}
          <span class="dot active" tabindex="0" role="button" aria-label="pagination dot"> </span>
        {% else %}
         <span class="dot" tabindex="0" role="button" aria-label="pagination dot"> </span>
        {% endif %}
      {%- endfor -%}
    </div>
  {%- endif -%}
  <div class="filter-slider-wrap color-{{ section.settings.filter_color_scheme }}">

    {%- for block in section.blocks -%}

      {%- liquid
        if forloop.index == 1 and section.index == 1
          assign fetch_priority = 'high'
          assign loading = 'eager'
        else
          assign fetch_priority = 'low'
          assign loading = 'lazy'
        endif
      -%}

      {%- case block.type -%}

        {%- when 'filter_slide' -%}
          <div class="filter-slider-slide filter-slide slide-{{ block.id }}" data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>

            {%- style -%}
              .slide-{{ block.id }} .banner::after {
                opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
              }
            {%- endstyle -%}

            <div id="Banner-{{ block.id }}" class="banner banner-filter banner--content-align-{{ block.settings.desktop_content_alignment }} banner--content-align-mobile-{{ block.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">

              <div class="banner__media media{% if block.settings.image == blank %} placeholder{% endif %}">
                {%- if block.settings.image != blank -%}
                  {%- liquid
                    assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
                    assign sizes = full_width
                  -%}
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag:
                      width: block.settings.image.width,
                      height: image_height,
                      sizes: sizes,
                      widths: widths,
                      fetchpriority: fetch_priority,
                      loading: loading,
                      alt: block.settings.image.alt
                  }}
                {%- else -%}
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>

              <div class="banner__content banner__content--{{ block.settings.desktop_content_position }} page-width">
                <div class="banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient">
                  {%- if block.settings.heading != blank -%}
                    <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
                      {{ block.settings.heading }}
                    </h2>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class="banner__text rte rte-{{ block.settings.text_size_block }} {{ block.settings.text_style }}">
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}

                  {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                    <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}">
                      {%- if block.settings.button_label_1 != blank -%}
                        <a {% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_1 }}" {% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">
                          <span>
                            {{- block.settings.button_label_1 | escape -}}
                          </span>
                        </a>
                      {%- endif -%}

                      {%- if block.settings.button_label_2 != blank -%}
                        <a {% if block.settings.button_link_2 == blank %}role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">
                          <span>
                            {{- block.settings.button_label_2 | escape -}}
                          </span>
                        </a>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>

								{% liquid
									assign filter_collection = 'all'

									if block.settings.collection != blank
									assign filter_collection = block.settings.collection
									endif
								%}

                <search-filter class="filter__box content-container content-container--full-width-mobile color-{{ block.settings.filter_color_scheme }}" data-filter-url="{{ collections[filter_collection].url }}?" data-collection="{{ filter_collection }}">

                  <h3 class="h5 inline-richtext">
                    {{- block.settings.filter_title -}}
                  </h3>

                  <div class="filter-form">
                    {% assign results = collections[filter_collection] %}

											{%- for filter in results.filters -%}
												{% if filter.label == block.settings.filter_1 %}
													{%- for value in filter.values -%}
														<li class="filter-select__item" tabindex="0" role="button" data-filter="{{ value.param_name }}={{ value.value }}">
															{{ value.label | escape }}
														</li>
													{%- endfor -%}
												{% elsif forloop.index == 1 %}
													<li class="filter-select__item holder">
														{{ block.settings.filter_1 }}...
													</li>
												{% endif %}
											{% endfor %}

                    {% if block.settings.filter_1 != blank %}
                      <details>
                        <summary>
                          <span>
                            {{- block.settings.filter_1 -}}
                          </span>
                          {% render 'icon-caret' %}
                        </summary>

                        <ul class="filter-select">
                          {%- for filter in results.filters -%}
                            {% if filter.label == block.settings.filter_1 %}
                              {%- for value in filter.values -%}
                                <li class="filter-select__item" tabindex="0" role="button" data-filter="{{ value.param_name }}={{ value.value }}">
                                  {{ value.label | escape }}
                                </li>
                              {%- endfor -%}
                            {% elsif forloop.index == 1 %}
                              <li class="filter-select__item holder">
                                {{ block.settings.filter_1 }}...
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </details>
                    {% endif %}

                    {% if block.settings.filter_2 != blank %}
                      <details>
                        <summary>
                          <span>
                            {{- block.settings.filter_2 -}}
                          </span>
                          {% render 'icon-caret' %}
                        </summary>

                        <ul class="filter-select">
                          {%- for filter in results.filters -%}
                            {% if filter.label == block.settings.filter_2 %}
                              {%- for value in filter.values -%}
                                <li class="filter-select__item" tabindex="0" role="button" data-filter="{{ value.param_name }}={{ value.value }}">
                                  {{ value.label | escape }}
                                </li>
                              {%- endfor -%}
                            {% elsif forloop.index == 1 %}
                              <li class="filter-select__item holder">
                                {{ block.settings.filter_2 }}...
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </details>
                    {% endif %}

                    {% if block.settings.filter_3 != blank %}
                      <details>
                        <summary>
                          <span>
                            {{- block.settings.filter_3 -}}
                          </span>
                          {% render 'icon-caret' %}
                        </summary>

                        <ul class="filter-select">
                          {%- for filter in results.filters -%}
                            {% if filter.label == block.settings.filter_3 %}
                              {%- for value in filter.values -%}
                                <li class="filter-select__item" tabindex="0" role="button" data-filter="{{ value.param_name }}={{ value.value }}">
                                  {{ value.label | escape }}
                                </li>
                              {%- endfor -%}
                            {% elsif forloop.index == 1 %}
                              <li class="filter-select__item holder">
                                {{ block.settings.filter_3 }}...
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </details>
                    {% endif %}

                    {% if block.settings.filter_4 != blank %}
                      <details>
                        <summary>
                          <span>
                            {{- block.settings.filter_4 -}}
                          </span>
                          {% render 'icon-caret' %}
                        </summary>

                        <ul class="filter-select">
                          {%- for filter in results.filters -%}
                            {% if filter.label == block.settings.filter_4 %}
                              {%- for value in filter.values -%}
                                <li class="filter-select__item" tabindex="0" role="button" data-filter="{{ value.param_name }}={{ value.value }}">
                                  {{ value.label | escape }}
                                </li>
                              {%- endfor -%}
                            {% elsif forloop.index == 1 %}
                              <li class="filter-select__item holder">
                                {{ block.settings.filter_4 }}...
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </details>
                    {% endif %}

                    <a href="{{ collections[filter_collection].url }}" class="filter-value button" aria-disabled="true">
                      <span>
                        {{- block.settings.submit_button -}}
                      </span>
                    </a>
                  </div>

									{% render 'loading-spinner' %}
                </search-filter>

              </div>
            </div>

            <script src="{{ 'search-filter.js' | asset_url }}" defer="defer"></script>

          </div>

        {%- when 'video_slide' -%}
          <div class="filter-slider-slide video-slide slide-{{ block.id }}" data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>

            {% if block.settings.video != blank %}
              {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
            {% endif %}

            {%- style -%}
              .slide-{{ block.id }} .banner::after {
                opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
              }
            {%- endstyle -%}

            <div id="Banner-{{ block.id }}" class="banner banner-filter banner--content-align-{{ block.settings.desktop_content_alignment }} banner--content-align-mobile-{{ block.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">

              <div class="banner__media media">
                {% assign video_id = block.settings.video.id %}
                <deferred-media class="video-section__media deferred-media no-js-hidden gradient global-media-settings" data-media-id="{{ video_id }}">
                  {{
                    block.settings.video
                    | video_tag:
                      image_size: '1600x',
                      autoplay: false,
                      loop: true,
                      controls: false,
                      loading: loading,
                      muted: true,
                      alt: block.settings.video.alt
                  }}
                </deferred-media>
              </div>

              <div class="banner__content banner__content--{{ block.settings.desktop_content_position }} page-width">
                <div class="banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient">
                  {%- if block.settings.heading != blank -%}
                    <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
                      {{ block.settings.heading }}
                    </h2>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class="banner__text rte rte-{{ block.settings.text_size_block }} {{ block.settings.text_style }}">
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}

                  {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                    <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}">
                      {%- if block.settings.button_label_1 != blank -%}
                        <a {% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_1 }}" {% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">
                          <span>
                            {{- block.settings.button_label_1 | escape -}}
                          </span>
                        </a>
                      {%- endif -%}

                      {%- if block.settings.button_label_2 != blank -%}
                        <a {% if block.settings.button_link_2 == blank %}role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">
                          <span>
                            {{- block.settings.button_label_2 | escape -}}
                          </span>
                        </a>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>

              </div>
            </div>

          </div>

        {%- when 'image_slide' -%}
          {% comment %} DIGMO UPDATES {% endcomment %}
          <div class="filter-slider-slide image-slide slide-{{ block.id }}" data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>

            {%- style -%}
              .slide-{{ block.id }} .banner::after {
                opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
              }
            {%- endstyle -%}

            <div id="Banner-{{ block.id }}" class="banner banner-filter banner--content-align-{{ block.settings.desktop_content_alignment }} banner--content-align-mobile-{{ block.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }} banner--{{ section.settings.image_height_mobile }} {% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">

              <div class="banner__media media{% if block.settings.image == blank %} placeholder{% endif %} desktop-banner-image">
                {%- if block.settings.image != blank -%}
                  {%- liquid
                    assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
                    assign sizes = full_width
                  -%}
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag:
                      width: block.settings.image.width,
                      height: image_height,
                      sizes: sizes,
                      widths: widths,
                      fetchpriority: fetch_priority,
                      loading: loading,
                      alt: block.settings.image.alt
                  }}
                {%- else -%}
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>

              <div class="banner__media media{% if block.settings.image_mobile == blank %} placeholder{% endif %} mobile-banner-image">
                {%- if block.settings.image != blank -%}
                  {%- liquid
                    assign image_height = block.settings.image_mobile.width | divided_by: block.settings.image_mobile.aspect_ratio
                    assign sizes = full_width
                  -%}
                  {{
                    block.settings.image_mobile
                    | image_url: width: 800
                    | image_tag:
                      width: block.settings.image_mobile.width,
                      height: image_height,
                      sizes: sizes,
                      widths: widths,
                      fetchpriority: fetch_priority,
                      loading: loading,
                      alt: block.settings.image_mobile.alt
                  }}
                {%- else -%}
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>

              <div class="banner__content banner__content--{{ block.settings.desktop_content_position }} banner__content-mobile--{{ block.settings.mobile_content_position }} page-width">
                <div class="banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient">
                  {%- if block.settings.heading != blank -%}
                    <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
                      {{ block.settings.heading }}
                    </h2>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class="banner__text rte rte-{{ block.settings.text_size_block }} {{ block.settings.text_style }}">
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}

                  {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                    <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}">
                      {%- if block.settings.button_label_1 != blank -%}
                        <a {% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_1 }}" {% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">
                          <span>
                            {{- block.settings.button_label_1 | escape -}} {% if block.settings.enable_button_arrow %} {% render 'arrow-right' %} {% endif %}
                          </span>
                        </a>
                      {%- endif -%}

                      {%- if block.settings.button_label_2 != blank -%}
                        <a {% if block.settings.button_link_2 == blank %}role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">
                          <span>
                            {{- block.settings.button_label_2 | escape -}}
                          </span>
                        </a>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>

              </div>
            </div>

          </div>
        {%- when 'promo_collection' -%}
		{%- style -%}
			@media screen and (max-width: 749px) {
				.section-{{ block.id }}-padding {
				padding-top: {{ block.settings.padding_top_mob }}px;
				padding-bottom: {{ block.settings.padding_bottom_mob }}px;
				}
			}
			@media screen and (min-width: 750px) and (max-width: 1199px) {
				.section-{{ block.id }}-padding {
				padding-top: {{ block.settings.padding_top | times: 0.72 | round: 0 }}px;
				padding-bottom: {{ block.settings.padding_bottom | times: 0.72 | round: 0 }}px;
				}
			}
			@media screen and (min-width: 1200px) {
				.section-{{ block.id }}-padding {
				padding-top: {{ block.settings.padding_top }}px;
				padding-bottom: {{ block.settings.padding_bottom }}px;
				}
			}
			{%- endstyle -%}
            <div class="filter-slider-slide collection-slide section-{{ block.id }}-padding slide-{{ block.id }}" data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              <div id="Banner-{{ block.id }}" class="banner banner-filter banner--{{ section.settings.image_height }}{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
                <div class="banner__content banner-product {% if section.settings.section_full_width == true  %}page-width{% endif %}">
                  <div class="banner__box {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {%- if block.settings.heading != blank -%}
                      <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
                        {{ block.settings.heading }}
                      </h2>
                    {%- endif -%}

                    {%- if block.settings.text != blank -%}
                      <div class="banner__text rte rte-{{ block.settings.text_size_block }} {{ block.settings.text_style }}{% if block.settings.text_secondary_color %}secondary-color{% endif %}">
                        {{ block.settings.text }}
                      </div>
                    {%- endif -%}

                    {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                      <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}">
                        {%- if block.settings.button_label_1 != blank -%}
                          <a {% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_1 }}" {% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">
                            <span>
                              {{- block.settings.button_label_1 | escape -}}
                            </span>
                          </a>
                        {%- endif -%}

                        {%- if block.settings.button_label_2 != blank -%}
                          <a {% if block.settings.button_link_2 == blank %}role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">
                            <span>
                              {{- block.settings.button_label_2 | escape -}}
                            </span>
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="banner__product-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    <div class="banner__product-image {% if block.settings.image == blank %} placeholder{% endif %}">
                      {%- if block.settings.image != blank -%}
                        {%- liquid
                          assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
                          assign sizes = full_width
                        -%}
                        {{
                          block.settings.image
                          | image_url: width: 600
                          | image_tag:
                            width: block.settings.image.width,
                            height: image_height,
                            sizes: sizes,
                            widths: widths,
                            fetchpriority: fetch_priority,
                            loading: loading,
                            alt: block.settings.image.alt
                        }}
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </div>
                    <div class="banner__product-items">
                      {%- for product in block.settings.product_list -%}
                      <div class="banner__product-item color-{{ block.settings.color_scheme }}">

                        <a class="banner__product-item-image" href="{{ product.url }}">

                          {% if product.featured_image %}
                            <img src="{{ product.featured_image | image_url: width: 130 }}"
                            alt="{{ product.featured_image.alt | escape }}"
                            loading="lazy" width="130" height="130">
                          {% else %}
                            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                          {% endif %}

                          {%- if product.media[1] != null -%}
                            <img src="{{ product.media[1] | image_url: width: 130 }}"
                            alt="{{ product.media[1].alt | escape }}"
                            loading="lazy" width="130" height="130">
                          {%- endif -%}

                        </a>

                        <div class="banner__product-item-content">
                          <a class="link link-no-underline" href="{{ product.url }}" tabindex="0">
                            <div class="banner__product-item-title">
                              {% if product.title != blank %}
                                {{ product.title | escape }}
                              {% else %}
                                {{ 'onboarding.product_title' | t }}
                              {% endif %}
                            </div>
                          </a>

                          {%- render 'price',
                            product: product
                          -%}
                        </div>

                        <div class="quick-add no-js-hidden">
                          {%- liquid
                            assign card_product = product
                            assign section_id = section.id
                            assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                            assign qty_rules = false
                            if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                              assign qty_rules = true
                            endif
                          -%}
                          {%- if card_product.variants.size > 1 or qty_rules -%}
                            <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                              <button id="{{ product_form_id }}-submit" type="submit" name="add" class="quick-add__submit button button--full-width" aria-haspopup="dialog" aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}" data-product-url="{{ card_product.url }}" tabindex="0">
                                {{ 'products.product.choose_options' | t }}

                                <div class="loading-overlay__spinner hidden">
                                  <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </div>
                              </button>
                            </modal-opener>
                            <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                              <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                                <button id="ModalClose-{{ card_product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
                                  {% render 'icon-close' %}
                                </button>
                                <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                              </div>
                            </quick-add-modal>
                          {%- else -%}
                            <product-form>
                              {%- form 'product',
                                card_product,
                                id: product_form_id,
                                class: 'form',
                                novalidate: 'novalidate',
                                data-type: 'add-to-cart-form'
                              -%}
                                <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                                <button id="{{ product_form_id }}-submit" type="submit" name="add" class="quick-add__submit button button--full-width"
                                  aria-haspopup="dialog" aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}" aria-live="polite" data-sold-out-message="true"
                                  {% if card_product.selected_or_first_available_variant.available == false %}
                                    disabled
                                  {% else %}
                                    tabindex="0"
                                  {% endif %}
                                >
                                  <span>
                                    {%- if card_product.selected_or_first_available_variant.available -%}
                                      {{ 'products.product.add_to_cart' | t }}
                                    {%- else -%}
                                      {{ 'products.product.sold_out' | t }}
                                    {%- endif -%}
                                  </span>
                                  <span class="sold-out-message hidden">
                                    {{ 'products.product.sold_out' | t }}
                                  </span>
                                  <div class="loading-overlay__spinner hidden">
                                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                                </button>
                              {%- endform -%}
                            </product-form>
                          {%- endif -%}
                        </div>

                      </div>
                    {%- endfor -%}
                    </div>
                  </div>
                </div>
              </div>

            </div>
      {%- endcase -%}

    {%- endfor -%}

  </div>
</filter-slider>

<script src="{{ 'slider-filter.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Image banner filter",
  "tag": "section",
  "class": "section filter-slider-section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.all.learn_more_preset.info"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "image_height_mobile",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "color_scheme",
      "id": "filter_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "Full width section",
      "default": true,
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Section background color",
      "default": "#ffffff",
      "info": "Sets the color of the section when the block is not full width"
    }
  ],
  "blocks": [
    {
      "type": "filter_slide",
      "name": "Filter slide",
      "limit": 1,
      "settings": [
		{
			"type": "paragraph",
			"content": "This filter depends on the collection page setup. [Learn more](https://docs.muup.co/article/1046-filter-slide)"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "Collection",
			"info": "If no collection is set, filtering applies to all products"
		},
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size_block",
          "options": [
            {
            "value": "small",
            "label": "Small"
            },
            {
            "value": "medium",
            "label": "Medium"
            },
            {
            "value": "large",
            "label": "Large"
            }
            ],
          "default": "medium",
          "label": "Description font size"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "header",
          "content": "Filter settings"
        },
        {
          "type": "color_scheme",
          "id": "filter_color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "inline_richtext",
          "id": "filter_title",
          "label": "Filter title",
          "default": "Navigation label"
        },
        {
          "type": "text",
          "id": "filter_1",
          "label": "Filter 1",
          "default": "Option"
        },
        {
          "type": "text",
          "id": "filter_2",
          "label": "Filter 2",
          "default": "Option"
        },
        {
          "type": "text",
          "id": "filter_3",
          "label": "Filter 3",
          "default": "Option"
        },
        {
          "type": "text",
          "id": "filter_4",
          "label": "Filter 4",
          "default": "Option"
        },
        {
          "type": "text",
          "id": "submit_button",
          "label": "Submit button",
          "default": "Search"
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "default": true,
          "label": "t:sections.image-banner.settings.show_text_box.label"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        }
      ]
    },
    {
      "type": "video_slide",
      "name": "Video slide",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.video.settings.header__1.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Video overlay opacity",
          "default": 0
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size_block",
          "options": [
            {
            "value": "small",
            "label": "Small"
            },
            {
            "value": "medium",
            "label": "Medium"
            },
            {
            "value": "large",
            "label": "Large"
            }
            ],
          "default": "medium",
          "label": "Description font size"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "default": true,
          "label": "t:sections.image-banner.settings.show_text_box.label"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        }
      ]
    },
    {
      "type": "image_slide",
      "name": "Image slide",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Image"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size_block",
          "options": [
            {
            "value": "small",
            "label": "Small"
            },
            {
            "value": "medium",
            "label": "Medium"
            },
            {
            "value": "large",
            "label": "Large"
            }
            ],
          "default": "medium",
          "label": "Description font size"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "checkbox",
          "id": "enable_button_arrow",
          "default": false,
          "label": "Enable button arrow"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "default": true,
          "label": "t:sections.image-banner.settings.show_text_box.label"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "mobile_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "bottom-center",
          "label": "Mobile Content Position"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        }
      ]
    },
    {
      "type": "promo_collection",
      "name": "Collection slide",
      "limit": 4,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Promo collection",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the collection or content on the template.</p>",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size_block",
          "options": [
            {
            "value": "small",
            "label": "Small"
            },
            {
            "value": "medium",
            "label": "Medium"
            },
            {
            "value": "large",
            "label": "Large"
            }
            ],
          "default": "medium",
          "label": "Description font size"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products",
          "limit": 2
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "checkbox",
          "id": "text_secondary_color",
          "label": "Use secondary color for text",
          "default": false
        },
		{
      	"type": "header",
      	"content": "Desktop section paddings"
    	},
		{
		"type": "range",
		"id": "padding_top",
		"min": 0,
		"max": 180,
		"step": 2,
		"unit": "px",
		"label": "t:sections.all.padding.padding_top",
		"default": 0
		},
		{
		"type": "range",
		"id": "padding_bottom",
		"min": 0,
		"max": 180,
		"step": 2,
		"unit": "px",
		"label": "t:sections.all.padding.padding_bottom",
		"default": 0
		},
		{
      	"type": "header",
      	"content": "Mobile section paddings"
    	},
		{
		"type": "range",
		"id": "padding_top_mob",
		"min": 0,
		"max": 180,
		"step": 2,
		"unit": "px",
		"label": "t:sections.all.padding.padding_top",
		"default": 0
		},
		{
		"type": "range",
		"id": "padding_bottom_mob",
		"min": 0,
		"max": 180,
		"step": 2,
		"unit": "px",
		"label": "t:sections.all.padding.padding_bottom",
		"default": 0
		}
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner filter",
      "blocks": [
        {
          "type": "filter_slide"
        },
        {
          "type": "video_slide"
        },
        {
          "type": "image_slide"
        }
      ]
    }
  ]
}
{% endschema %}
