{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'component-breadcrumb.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .breadcrumbs__item:last-child {
    color: rgb(var(--color-accent));
  }
{%- endstyle -%}

<article class="article-template color-{{ section.settings.color_scheme }}" itemscope itemtype="http://schema.org/BlogPosting">

  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when 'navigation' -%}
        {% if block.settings.show_progress_line %}
          <div class="article-template__top-progress color-{{ block.settings.color_scheme }}">
            <span> </span>
          </div>
        {% endif %}

        <div class="article-template__top-wrapper{% if block.settings.sticky_title %} sticky-post{% endif %}" data-color-sheme="{% if block.settings.sticky_title %}color-{{ block.settings.color_scheme }}{% endif %}" {{ block.shopify_attributes }}>
          <div class="page-width">
            <div class="article-template__top">

              <nav class="breadcrumbs">
                <ul class="breadcrumbs__list">
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ routes.root_url }}">
                      Home
                    </a>
                  </li>

                  <li class="breadcrumbs__item">
                    {% render 'icon-caret' %}
                    <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">
                      {{- blog.title -}}
                    </a>
                  </li>

                  <li class="breadcrumbs__item">
                    {% render 'icon-caret' %}
                    {{- article.title -}}
                  </li>
                </ul>
              </nav>

              <span class="article-template__top-title">
                {{ article.title | escape }}
              </span>

              <div class="article-template__social-sharing{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">

                {% assign share_url = request.origin | append: article.url %}
                {% render 'share-button', 
                  block: block,
                  share_link: share_url 
                %}

                <a class="share-button__button" href="https://www.facebook.com/sharer.php?u={{ canonical_url }}" target="_blank" rel="noopener noreferrer">
                  {% render 'icon-facebook' %}
                </a>

                <a class="share-button__button" href="https://twitter.com/intent/tweet?text={{ article.title | escape }}&url={{ canonical_url }}" target="_blank" rel="noopener noreferrer">
                  {% render 'icon-twitter' %}
                </a>

              </div>
            </div>
          </div>
        </div>

    {%- endcase -%}
  {%- endfor -%}

  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when '@app' -%}
        <div class="page-width page-width--narrow">
          {% render block %}
        </div>

      {%- when 'title' -%}
        <header class="article-template__header page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" {{ block.shopify_attributes }}>

          {%- if article.tags != 0 and block.settings.show_tags -%}
            <div class="article-template__badge card__badge">
              {% for item in article.tags %}
                <a href="{{ blog.url }}/tagged/{{ item.handle }}" style="color: {{ settings.blog_color_text }}; background-color: {{ settings.blog_color_bg }}" class="badge">
                  {{ item }}
                </a>
              {% endfor %}
            </div>
          {%- endif -%}

          <h1 class="article-template__title" itemprop="headline">
            {{ article.title | escape }}
          </h1>

          {%- if block.settings.blog_show_date -%}
            <span class="article-template__publication-date" itemprop="dateCreated pubdate datePublished">
              {{- article.published_at | date: '%d %B, %Y' -}}
            </span>
          {%- endif -%}

        </header>

      {%- when 'featured_image' -%}
        {%- if article.image -%}
          <div class="article-template__hero-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} page-width" {{ block.shopify_attributes }}>

            <div class="article-template__hero-{{ block.settings.image_height }} article-template__hero-image media" itemprop="image" {% if block.settings.image_height == 'adapt' and article.image %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif %}>

              <img srcset="
                  {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 1900 %}{{ article.image | image_url: width: 1900 }} 1000w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ article.image | image_url }} {{ article.image.width }}w"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ article.image | image_url: width: 1100 }}"
                loading="eager"
                fetchpriority="high"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}">
            </div>
          </div>
        {%- endif -%}

      {%- when 'content' -%}
        {% assign content_text_color = "" %}
        {% if block.settings.text_color == "secondary" %}
          {% assign content_text_color = 'data-color="secondary"' %}
        {% endif %}

        <div class="article-template__content page-width rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" itemprop="articleBody" {{ block.shopify_attributes }} {{ content_text_color }}>
          <div class="article-template__content-wrapper">
            {{ article.content }}
          </div>
        </div>

      {%- when 'author' -%}
        <div class="article-template__author" {{ block.shopify_attributes }}>
          <div class="page-width">
            <div class="article-template__author-inner">
              <div class="article-template__author-block">
								{% liquid
									assign user_img = article.user.image
									if block.settings.custom_img != blank
										assign user_img = block.settings.custom_img
									endif
								%}
                
                {% if user_img != blank %}
                  <div class="article-template__author-avatar">
                    <img src="{{ user_img | image_url: width: 140 }}" width="60" height="60" loading="lazy" alt="Author Avatar">
                  </div>
                {% endif %}
            
                <div class="article-template__author-info">

                  <span class="article-template__author-name inline-richtext h6">
                    {% if block.settings.custom_author != blank %}
                      {{ block.settings.custom_author }}
                    {% else %}
                      {{ article.author }}
                    {% endif %}
                  </span>
                  
                  {% if block.settings.custom_author_bio != blank %}
                    <p class="article-template__author-bio inline-richtext">
                      {{- block.settings.custom_author_bio -}}
                    </p>
                  {% elsif article.user.bio != blank %}
                    <p class="article-template__author-bio">
                      {{- article.user.bio -}}
                    </p>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>

      {%- when 'share' -%}
        <div class="article-template__social-sharing page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {{ block.shopify_attributes }}>
          {% assign share_url = request.origin | append: article.url %}
          {% render 'share-button', 
            block: block, 
            share_link: share_url 
          %}
        </div>

    {%- endcase -%}
  {%- endfor -%}

  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper">
      <div id="comments" class="page-width">

        {% form 'new_comment', article %}

          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}

          <div class="section-heading align-center">
            <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
            <div class="rte">{{ 'blogs.article.comment_form_description' | t }}</div>
          </div>

          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1">
                {% render 'icon-error' %}
                {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>

            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                      {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>

          {%- elsif form.posted_successfully? -%}
            <div class="article-template__form-message form-status-list form__message form__error-message" role="status">
							<div class="article-template__form-icon">
								{% render 'icon-success' %}
							</div>
              <h3 class="form-status" tabindex="-1">
                {{ post_message | t }}
              </h3>
            </div>
          {%- endif -%}


          <div {% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>

            <div class="field field--with-error">

              <label class="field__label" for="CommentForm-author">
                {{- 'blogs.article.name' | t }}
                <span aria-hidden="true">*</span>
              </label>

              <input
                type="text"
                name="comment[author]"
                id="CommentForm-author"
                class="field__input"
                autocomplete="name"
                value="{{ form.author }}"
                aria-required="true"
                required
                {% if form.errors contains 'author' %}
                aria-invalid="true"
                aria-describedby="CommentForm-author-error"
                {% endif %}
                placeholder="{{ 'blogs.article.placeholder.name' | t }}">


              {%- if form.errors contains 'author' -%}
                <small id="CommentForm-author-error">
                  <span class="form__message">
                    {%- render 'icon-error' -%}
                    {{- 'blogs.article.name' | t }}
                    {{ form.errors.messages.author }}.</span>
                </small>
              {%- endif -%}

            </div>

            <div class="field field--with-error">

              <label class="field__label" for="CommentForm-email">
                {{- 'blogs.article.email' | t }}
                <span aria-hidden="true">*</span>
              </label>

              <input type="email" name="comment[email]" id="CommentForm-email"
                autocomplete="email"
                class="field__input"
                value="{{ form.email }}"
                autocorrect="off"
                autocapitalize="off"
                aria-required="true"
                required
                {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="CommentForm-email-error"
                {% endif %}
                placeholder="{{ 'blogs.article.placeholder.email' | t }}">

              {%- if form.errors contains 'email' -%}
                <small id="CommentForm-email-error">
                  <span class="form__message">
                    {%- render 'icon-error' -%}
                    {{- 'blogs.article.email' | t }}
                    {{ form.errors.messages.email }}.</span>
                </small>
              {%- endif -%}
            </div>

            <div class="field field--with-error">

              <label class="form__label field__label" for="CommentForm-body">
                {{- 'blogs.article.message' | t }}
                <span aria-hidden="true">*</span>
              </label>

              <textarea rows="5" name="comment[body]" id="CommentForm-body" class="text-area field__input" aria-required="true" required
                {% if form.errors contains 'body' %} aria-invalid="true" aria-describedby="CommentForm-body-error" {% endif %} placeholder="{{ 'blogs.article.placeholder.message' | t }}">
                {{- form.body -}}
              </textarea>
              
            </div>

            <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">

            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">
                  {%- render 'icon-error' -%}
                  {{- 'blogs.article.message' | t }}
                  {{ form.errors.messages.body }}.
                </span>
              </small>
            {%- endif -%}

          </div>


          {%- if article.comments_count > 0 -%}
            {%- assign anchorId = '#Comments-' | append: article.id -%}
            <div class="article-template__comments-wrapper">
              {% paginate article.comments by 3 %}
                <div class="article-template__comments">
                  {%- if comment.status == 'pending' and comment.content -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer class="right">
                        <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                      </footer>
                    </article>
                  {%- endif -%}
  
                  {%- for comment in article.comments -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">

                    <div class="article-template__comments-comment__author">
                      {{ comment.author }}
                    </div>
                    <div class="article-template__comments-comment__text">
                      {{ comment.content }}
                    </div>
                    <div class="article-template__comments-comment__date">
                      {{- comment.created_at | time_tag: format: 'date' -}}
                    </div>
                    
                    </article>
                  {%- endfor -%}
  
                  {% render 'pagination', 
                    paginate: paginate, 
                    anchor: anchorId 
                  %}

                </div>
              {% endpaginate %}
            </div>
          {%- endif -%}

          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          
        {% endform %}
      </div>
    </div>
  {%- endif -%}

</article>

<script src="{{ 'progress-line.js' | asset_url }}" defer="defer"></script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image" : [{{ article | image_url: width: 1920 | prepend: "https:" | json }}],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
  {
    "name": "t:sections.main-article.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.all.learn_more_preset.info"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-2"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "featured_image",
        "name": "t:sections.main-article.blocks.featured_image.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "image_height",
            "options": [
              {
                "value": "adapt",
                "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
              },
              {
                "value": "small",
                "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
              },
              {
                "value": "medium",
                "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
              },
              {
                "value": "large",
                "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
              }
            ],
            "default": "adapt",
            "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
            "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.main-article.blocks.title.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tags",
            "default": true,
            "label": "Show tags"
          },
          {
            "type": "checkbox",
            "id": "blog_show_date",
            "default": true,
            "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
          }
        ]
      },
      {
        "type": "content",
        "name": "t:sections.main-article.blocks.content.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "text_color",
            "options": [
              {
                "value": "main",
                "label": "Main"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              }
            ],
            "default": "main",
            "label": "Text color"
          }
        ]
      },
      {
        "type": "author",
        "name": "Author",
        "limit": 1,
        "settings": [
					{
						"type": "image_picker",
						"id": "custom_img",
						"label": "Custom author image"
					},
          {
            "type": "inline_richtext",
            "id": "custom_author",
            "label": "Custom author name"
          },
          {
            "type": "inline_richtext",
            "id": "custom_author_bio",
            "label": "Custom author bio"
          }
        ]
      },
      {
        "type": "share",
        "name": "t:sections.main-article.blocks.share.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.main-article.blocks.share.settings.text.label",
            "default": "Share"
          },
          {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
          },
          {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.title_info.content"
          }
        ]
      },
      {
        "type": "navigation",
        "name": "Navigation",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_progress_line",
            "default": true,
            "label": "Show progress line"
          },
          {
            "type": "checkbox",
            "id": "sticky_title",
            "default": true,
            "label": "Sticky post header"
          },
          {
            "type": "text",
            "id": "share_label",
            "default": "Share",
            "label": "Share label"
          },
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme on scroll",
            "default": "scheme-2"
          }
        ]
      }
    ]
  }
{% endschema %}