<section id="MainProduct-{{ section.id }}" class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}" data-section="{{ section.id }}">

  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}

  {% unless product.has_only_default_variant %}
    {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
  {% endunless %}

  {%- if product.quantity_price_breaks_configured? -%}
    {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- style -%}
  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.57 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.57 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.72 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.72 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 1200px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .breadcrumbs__item:last-child {
    color: rgb(var(--color-accent));
  }
  {%- endstyle -%}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if section.settings.image_zoom == 'hover' %}
    <script id="EnableZoomOnHover-main" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
  {% endif %}

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
    <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

  <div class="page-width">

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'breadcrumbs' -%}
          {% render 'breadcrumbs', 
            color: block.settings.color_scheme,
            home: block.settings.home,
            shopify_atributes: block.shopify_attributes,
            show_collection: block.settings.breadcrumbs_collection 
          %}
      {%- endcase -%}
    {%- endfor -%}

    <div class="product main-product product--{{ section.settings.media_size }} product--{{ section.settings.media_position }} product--{{ section.settings.gallery_layout }} product--mobile-{{ section.settings.mobile_thumbnails }} grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
      
      <div class="grid__item product__media-wrapper thumbnail--{{ section.settings.thumbnail_position }}">
        {% render 'product-media-gallery', 
          variant_images: variant_images
        %}
      </div>

      <div class="product__info-wrapper grid__item{% if settings.page_width > 1400 and section.settings.media_size == "small" %} product__info-wrapper--extra-padding{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">

        <product-info id="ProductInfo-{{ section.id }}" data-section="{{ section.id }}" data-url="{{ product.url }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__column-sticky{% endif %}">

          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}

            {%- case block.type -%}

              {%- when '@app' -%}
                {% render block %}

              {%- when 'text' -%}
                <div class="product__text inline-richtext {{ block.settings.text_size }} {{ block.settings.font_weight }} color-{{ block.settings.text_color }}" {{ block.shopify_attributes }}>
                  {{- block.settings.text -}}
                </div>

              {%- when 'title' -%}
                <div class="product__title" {{ block.shopify_attributes }}>
                  <h1 class="{{ block.settings.heading_size }}">{{ product.title | escape }}</h1>
                  <a href="{{ product.url }}" class="product__title">
                    <h2 class="{{ block.settings.heading_size }}">
                      {{ product.title | escape }}
                    </h2>
                  </a>
                </div>

              {%- when 'price' -%}
                <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
									{% liquid
										assign price_class =  block.settings.price_size | append: " clr-" | append: block.settings.price_color
									 %}
                  {%- render 'price', 
                    product: product, 
                    use_variant: true, 
                    show_badges: true, 
                    price_class: price_class
                  -%}
                </div>

                {%- if product.quantity_price_breaks_configured? -%}
                  <div class="volume-pricing-note clr-{{ block.settings.price_color }}" id="Volume-Note-{{ section.id }}">
                    <span>{{ 'products.product.volume_pricing.note' | t }}</span>
                  </div>
                {%- endif -%}

                {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product__tax {{ block.settings.price_size }} clr-{{ block.settings.price_color }} rte">
                    {%- if cart.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}

                {%- if product != blank -%}
                  <div {{ block.shopify_attributes }}>
                    {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                    {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                      {{ form | payment_terms }}
                    {%- endform -%}
                  </div>
                {%- endif -%}

              {%- when 'inventory' -%}
                
                {% unless product.gift_card? == true %}
                  <p class="product__inventory text--{{ block.settings.label_font_size }} no-js-hidden{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}{% if block.settings.show_progress_bar %}with-progress-bar{% endif %}" id="Inventory-{{ section.id }}" role="status" {{ block.shopify_attributes }}>

                    {%- liquid
                      assign inventory_color = block.settings.color_in_stock
                      if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold
                        assign inventory_color = block.settings.color_low_stock
                      endif
                      assign percentageRemaining = product.selected_or_first_available_variant.inventory_quantity | times: 100 | divided_by: block.settings.inventory_base
                    -%}

                    <span class="inventory-info" style="color: {{ inventory_color }};">
                      {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%} 
                        {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
                          {%- if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold -%}
                            {% unless block.settings.show_progress_bar %}
                              <svg width="15" height="15" aria-hidden="true">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="rgba({{ inventory_color.red }},{{ inventory_color.green }},{{ inventory_color.blue }}, 0.3)"/>
                                <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="{{ inventory_color }}"/>
                              </svg>
                            {% endunless %}
                            {%- if block.settings.show_inventory_quantity -%}
                              {{- 'products.product.inventory_low_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}
                            {%- else -%}
                              {{- 'products.product.inventory_low_stock' | t -}}
                            {%- endif -%}
                          {%- else -%}
                            {% unless block.settings.show_progress_bar %}
                              <svg width="15" height="15"  aria-hidden="true">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)" />
                                <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)" />
                              </svg>
                            {% endunless %}
                            {%- if block.settings.show_inventory_quantity -%}
                              {{- 'products.product.inventory_in_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}
                            {%- else -%}
                              {{- 'products.product.inventory_in_stock' | t -}}
                            {%- endif -%}
                          {%- endif -%}
                        {%- else -%}
                          {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
                            <svg width="15" height="15" aria-hidden="true">
                              <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)" />
                              <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)" />
                            </svg>
                            {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
                          {%- else -%}
                            <svg width="15" height="15" aria-hidden="true">
                              <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(200,200,200, 0.3)" />
                              <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(200,200,200)" />
                            </svg>
                            {{- 'products.product.inventory_out_of_stock' | t -}}
                          {%- endif -%}
                        {%- endif -%}
                      {%- endif -%}
                    </span>

                    {% comment %} {% if block.settings.show_progress_bar %}
                      <span class="inventory-progress-bar">
                        <span style="background-color: {{ inventory_color }}; width: {{ percentageRemaining }}%;"></span>
                      </span>
                    {% endif %} {% endcomment %}
                    {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
                      {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
                        {% if block.settings.show_progress_bar %}
                          <span class="inventory-progress-bar">
                            <span style="background-color: {{ inventory_color }}; width: {{ percentageRemaining }}%;"></span>
                          </span>
                        {% endif %}
                      {%- else -%}
                        {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
                          {% if block.settings.show_progress_bar %}
                            <span class="inventory-progress-bar">
                              <span style="background-color: {{ inventory_color }}; width: 100%;"></span>
                            </span>
                          {% endif %}
                        {%- endif -%}
                      {%- endif -%}
                    {%- endif -%}
                  </p>
                {% endunless %}

              {%- when 'countdown' -%}
                {% assign label_color = "" %}
                {% if block.settings.label_text_color == "secondary" %}
                  {% assign label_color = 'data-color="secondary"' %}
                {% endif %}
                {% render 'countdown-bar',
                  block: block,
                  color_scheme: block.settings.color_scheme,
                  countdown_date: block.settings.countdown_date,
                  countdown_end: block.settings.countdown_end,
                  countdown_label: block.settings.countdown_label,
                  days_label: block.settings.days_label,
                  hours_label: block.settings.hours_label,
                  mins_label: block.settings.mins_label,
                  secs_label: block.settings.secs_label,
                  block_shopify_attributes: block.shopify_attributes,
                  font_weight: block.settings.font_weight,
                  numbers_size: block.settings.numbers_size,
                  numbers_weight: block.settings.numbers_weight,
                  label_color: label_color
                %}

              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="product__description rte rte-{{ block.settings.text_size_block }}  quick-add-hidden" {{ block.shopify_attributes }}>
                    {{ product.description }}
                  </div>
                {%- endif -%}

              {%- when 'sku' -%}
                <p class="product__sku no-js-hidden{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}" id="Sku-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                  <span class="visually-hidden">{{ 'products.product.sku' | t }}:</span>
                  {{- product.selected_or_first_available_variant.sku -}}
                </p>

              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}

              {%- when 'collapsible_tab' -%}
                <div class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>
                  <details id="Details-{{ block.id }}-{{ section.id }}">
                    <summary>
                      <div class="summary__title">

                        {% render 'icon-accordion', 
                          icon: block.settings.icon 
                        %}

                        <h2 class="accordion__title inline-richtext {{ block.settings.heading_size }}">
                          {{ block.settings.heading | default: block.settings.page.title }}
                        </h2>
                      </div>
                      {% render 'icon-caret' %}
                    </summary>
                    <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                      {{ block.settings.content }}
                      {{ block.settings.page.content }}
                    </div>
                  </details>
                </div>

              {%- when 'popup' -%}
                <modal-opener class="product-popup-modal__opener no-js-hidden quick-add-hidden"  data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                  <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">
                    {{ block.settings.text | default: block.settings.page.title }}
                  </button>
                </modal-opener>

                <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">
                  {{- block.settings.text -}}
                </a>

              {%- when 'share' -%}
                {% liquid 
                  assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin
                  render 'share-button', block: block, share_link: share_url
                %}

              {%- when 'delivery_date' -%}
                {% if product.selected_or_first_available_variant.available %}
									{% if block.settings.show_delivery_date or block.settings.show_pickup_availability %}
										<div class="delivery color-{{ block.settings.color_scheme }} quick-add-hidden" {{ block.shopify_attributes }}>
											{% if block.settings.show_delivery_date %}
												{% assign max_date = block.settings.delivery_max | times: 24 | times: 60 | times: 60 %}
												<div class="delivery-date">
													<div class="delivery-wrap">

														{% if block.settings.icon_delivery != blank %}
															<div class="delivery-icon">
																{{ block.settings.icon_delivery | image_url: width: 30 | image_tag: loading: 'lazy' }}
															</div>
														{% endif %}

														<div class="delivery-content">
															<span class="delivery-heading h6">
																{{ block.settings.delivery_heading }}
															</span>
															<div class="delivery-description">
																<span>
																	{{ 'now' | date: "%s" | plus: max_date | date: "%d %b" }}
																</span>
																{{ block.settings.delivery_text }}
															</div>
														</div>
													</div>
												</div>
											{%- endif -%}

											{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
											{%- if block.settings.show_pickup_availability and pick_up_availabilities -%}
												<div class="pickup-available{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} pickup-available-true{% endif %}">

													{{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}
											
													<pickup-availability class="product__pickup-availabilities no-js-hidden quick-add-hidden" {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available {% endif %} {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 and block.settings.icon_pickup != blank %} data-pickup-icon="{{ block.settings.icon_pickup | image_url: width: 30 }}" {% endif %} data-root-url="{{ routes.root_url }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}" data-has-only-default-variant="{{ product.has_only_default_variant }}"  data-product-page-color-scheme="gradient color-{{ section.settings.color_scheme }}">
														<template>
															<pickup-availability-preview class="pickup-availability-preview">
																{% render 'icon-unavailable' %}
																<div class="pickup-availability-info">
																	<p class="pickup-heading h6">
																		{{- 'products.product.pickup_availability.unavailable' | t -}}
																	</p>

																	<button class="pickup-availability-button link link--text underlined-link">
																		{{ 'products.product.pickup_availability.refresh' | t }}
																	</button>
																</div>
															</pickup-availability-preview>
														</template>
													</pickup-availability>
											
													<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>

												</div>
											{%- endif -%}

										</div>
									{% endif %}
                  
                {% endif %}

              {%- when 'variant_picker' -%}
                {% render 'product-variant-picker', 
                  product: product, 
                  block: block, 
                  product_form_id: product_form_id,
                  color_scheme: block.settings.color_scheme,
                  variant_pills_secondary_style: settings.variant_pills_secondary_style
                %}

              {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons', 
                  block: block, 
                  product: product, 
                  product_form_id: product_form_id, 
                  section_id: section.id,
									quantity_color_scheme: block.settings.quantity_color_scheme,
                  color_scheme: block.settings.color_scheme
                -%}

              {%- when 'complementary' -%}
                <product-recommendations class="complementary-products quick-add-hidden{% if block.settings.enable_quick_add %} complementary-products-contains-quick-add{% endif %}" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary" data-section-id="{{ section.id }}" data-product-id="{{ product.id }}">

                  {%- if recommendations.performed and recommendations.products_count > 0 -%}
                    <aside aria-label="{{ 'accessibility.complementary_products' | t }}" {{ block.shopify_attributes -}}>

                      <div class="complementary-products__container">
                        
                        <slideshow-component class="slider-mobile-gutter">

                          <div class="summary__title">
                            <h2 class="h6">
                              {{- block.settings.block_heading -}}
                            </h2>
                          </div>

                          {%- assign number_of_slides = recommendations.products_count -%}

                          {%- if number_of_slides > 1 -%}
                            <div class="slider-buttons">
                              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                                {% render 'icon-arrow-short' %}
                              </button>

                              {%- if block.settings.pagination_style == 'counter' -%}
                                <div class="slider-counter slider-counter--{{ block.settings.pagination_style }}">
                                  <span class="slider-counter--current">1</span>
                                  <span aria-hidden="true"> / </span>
                                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                                  <span class="slider-counter--total">{{ number_of_slides }}</span>
                                </div>
                              {%- endif -%}

                              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                                {% render 'icon-arrow-short' %}
                              </button>
                            </div>
                          {%- endif -%}

                          <div id="Slider-{{ block.id }}" class="contains-card contains-card--product complementary-slider grid grid--1-col slider slider--everywhere" role="list"
                            {% if number_of_slides > 1 %} aria-label="{{ 'general.slider.name' | t }}"{% endif %}>

                            {%- for i in (1..number_of_slides) -%}
                              <div id="Slide-{{ block.id }}-{{ forloop.index }}" class="complementary-slide complementary-slide--{{ settings.card_style }} grid__item slider__slide slideshow__slide" tabindex="-1" role="group"
                                {% if number_of_slides > 1 %}
                                  aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                                  aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                                {% endif %}>

                                <ul class="list-unstyled" role="list">
                                  {%- for product in recommendations.products limit: 1 offset: continue -%}
                                    <li>
                                      {% render 'complimentary-product',
                                        card_product: product,
																				heading_font_weight: block.settings.product_heading_font_weight,
                                        media_aspect_ratio: block.settings.image_ratio,
                                        show_secondary_image: false,
                                        lazy_load: false,
                                        show_quick_add: block.settings.enable_quick_add,
                                        section_id: section.id,
                                        horizontal_class: true,
                                        horizontal_quick_add: true
                                      %}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            {%- endfor -%}
                          </div>

                        </slideshow-component>
                      </div>
                    </aside>
                  {%- endif -%}

                  {{ 'component-card.css' | asset_url | stylesheet_tag }}
                  {{ 'component-complementary-products.css' | asset_url | stylesheet_tag }}

                  {%- if block.settings.enable_quick_add -%}
                    {{ 'quick-add.css' | asset_url | stylesheet_tag }}
                    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
                  {%- endif -%}
                </product-recommendations>

              {%- when 'icon-with-text' -%}
                {% render 'icon-with-text', 
                  block: block
                %}

              {%- when 'features_column' -%}
                <div class="feature-columns" {{ block.shopify_attributes -}}>
                  <div class="feature-column color-{{ block.settings.color_scheme }}">
                    {% if block.settings.icon_col_1 != blank %}
                      <div class="feature-column__icon">
                        {{ block.settings.icon_col_1 | image_url: width: 24 | image_tag: loading: 'lazy' }}
                      </div>
                    {% endif %}

                    {% if block.settings.title_col_1 != blank or block.settings.description_col_1 != blank %}
                      <div class="feature-column__content">
                        {% if block.settings.title_col_1 != blank %}
                          <h3 class="feature-column__title inline-richtext h6">
                            {{ block.settings.title_col_1 }}
                          </h3>
                        {% endif %}

                        {% if block.settings.description_col_1 != blank %}
                          <div class="feature-column__description rte">
                            {{ block.settings.description_col_1 }}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>

                  <div class="feature-column color-{{ block.settings.color_scheme }}">
                    {% if block.settings.icon_col_2 != blank %}
                      <div class="feature-column__icon">
                        {{ block.settings.icon_col_2 | image_url: width: 24 | image_tag: loading: 'lazy' }}
                      </div>
                    {% endif %}

                    {% if block.settings.title_col_2 != blank or block.settings.description_col_2 != blank %}
                      <div class="feature-column__content">
                        {% if block.settings.title_col_2 != blank %}
                          <h3 class="feature-column__title inline-richtext h6">
                            {{ block.settings.title_col_2 }}
                          </h3>
                        {% endif %}

                        {% if block.settings.description_col_2 != blank %}
                          <div class="feature-column__description rte">
                            {{ block.settings.description_col_2 }}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>

                </div>

            {%- endcase -%}
          {%- endfor -%}

        </product-info>
      </div>

    </div>

    {% render 'product-media-modal' variant_images: variant_images %}

    {% assign popups = section.blocks | where: 'type', 'popup' %}
    {%- for block in popups -%}
      <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
        <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
          <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
            {% render 'icon-close' %}
          </button>
          <div class="product-popup-modal__content-info rte">
            <h1 class="h2">
              {{- block.settings.page.title -}}
            </h1>
            {{ block.settings.page.content }}
          </div>
        </div>
      </modal-dialog>
    {%- endfor -%}

    {%- if product.media.size > 0 -%}
      <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if first_3d_model -%}
      <script type="application/json" id="ProductJSON-{{ product.id }}">
        {{ product.media | where: 'media_type', 'model' | json }}
      </script>
      <script src="{{ 'product-model.js' | asset_url }}" defer></script>
    {%- endif -%}

    {%- liquid
      if product.selected_or_first_available_variant.featured_media
        assign seo_media = product.selected_or_first_available_variant.featured_media
      else
        assign seo_media = product.featured_media
      endif
    -%}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": {{ product.title | json }},
        "url": {{ request.origin | append: product.url | json }},
        {% if seo_media -%}
          "image" : [{{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}],
        {%- endif %}
        "description": {{ product.description | strip_html | json }},
        {% if product.selected_or_first_available_variant.sku != blank -%}
          "sku": {{ product.selected_or_first_available_variant.sku | json }},
        {%- endif %}
        "brand": {
          "@type": "Brand",
          "name": {{ product.vendor | json }}
        },
        "offers": [
          {%- for variant in product.variants -%}
            {
              "@type": "Offer",
              {%- if variant.sku != blank -%}
                "sku": {{ variant.sku | json }},
              {%- endif -%}
              {%- if variant.barcode.size == 12 -%}
                "gtin12": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 13 -%}
                "gtin13": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 14 -%}
                "gtin14": {{ variant.barcode }},
              {%- endif -%}
              "availability": "http://schema.org/{% if variant.available %} InStock{% else %}OutOfStock{% endif %}",
              "price": {{ variant.price | divided_by: 100.00 | json }},
              "priceCurrency": {{ cart.currency.iso_code | json }},
              "url": {{ request.origin | append: variant.url | json }}
            }{% unless forloop.last %},{% endunless %}
          {%- endfor -%}
        ]
      }
    </script>
  </div>

</section>

{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "breadcrumbs",
        "name": "Breadcrumbs",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-2"
          },
          {
            "type": "text",
            "id": "home",
            "default": "Home",
            "label": "Home"
          },
          {
            "type": "checkbox",
            "id": "breadcrumbs_collection",
            "label": "Show collection",
            "default": true
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "default": "Text block",
            "label": "t:sections.main-product.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "text--small",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "text--medium",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "text--large",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "text--medium",
            "label": "Font size"
          },
					{
						"type": "select",
						"id": "font_weight",
						"label": "Font weight",
						"options": [
						{
							"value": "fw-400",
							"label": "Regular"
						},
						{
							"value": "fw-500",
							"label": "Medium"
						},
						{
							"value": "fw-600",
							"label": "Semi Bold"
						},
						{
							"value": "fw-700",
							"label": "Bold"
						}
						],
						"default": "fw-400"
					},
          {
            "type": "select",
            "id": "text_color",
            "options": [
              {
                "value": "text",
                "label": "t:settings_schema.colors.settings.text.label"
              },
              {
                "value": "text-secondary",
                "label": "t:settings_schema.colors.settings.text_secondary.label"
              },
              {
                "value": "accent",
                "label": "t:settings_schema.colors.settings.accent_color.label"
              }
            ],
            "default": "text",
            "label": "Color"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h3",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h2",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      },
      {
        "type": "countdown",
        "name": "Countdown",
        "limit": 1,
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
          },
          {
            "type": "inline_richtext",
            "id": "countdown_label",
            "default": "Hurry up! Offer ends in",
            "label": "Countdown label"
          },
		  {
       	  "type": "select",
          "id": "font_weight",
          "label": "Countdown label font weight",
          "options": [
           {
            "value": "400",
            "label": "Regular"
           },
           {
            "value": "500",
            "label": "Medium"
           },
           {
            "value": "600",
            "label": "Semi Bold"
           },
           {
            "value": "700",
            "label": "Bold"
           }
           ],
       	   "default": "600"
     	  },
					{
						"type": "select",
						"id": "numbers_size",
						"options": [
							{
								"value": "h6",
								"label": "t:sections.all.heading_size.options__1.label"
							},
							{
								"value": "h5",
								"label": "t:sections.all.heading_size.options__2.label"
							},
							{
								"value": "h4",
								"label": "t:sections.all.heading_size.options__3.label"
							}
						],
						"default": "h4",
						"label": "Numbers size"
					},
					{
						"type": "select",
						"id": "numbers_weight",
						"label": "Numbers font weight",
						"options": [
							{
								"value": "fw-400",
								"label": "Regular"
							},
							{
								"value": "fw-500",
								"label": "Medium"
							},
							{
								"value": "fw-600",
								"label": "Semi Bold"
							},
							{
								"value": "fw-700",
								"label": "Bold"
							}
						],
						"default": "fw-500"
					},
          {
            "type": "text",
            "id": "countdown_date",
            "default": "Dec 31, 2024",
            "label": "End date",
            "info": "Example: Dec 31, 2024 or Dec 31, 2024 20:00"
          },
          {
            "type": "select",
            "id": "countdown_end",
            "options": [
              {
                "value": "show_zeroes",
                "label": "Show zeroes"
              },
              {
                "value": "hide_countdown",
                "label": "Hide countdown"
              },
              {
                "value": "cycle",
                "label": "Loop"
              }
            ],
            "default": "show_zeroes",
            "label": "When date has passed"
          },
          {
            "type": "text",
            "id": "days_label",
            "default": "Days",
            "label": "Days label"
          },
          {
            "type": "text",
            "id": "hours_label",
            "default": "Hours",
            "label": "Hours label"
          },
          {
            "type": "text",
            "id": "mins_label",
            "default": "Minutes",
            "label": "Minutes label"
          },
          {
            "type": "text",
            "id": "secs_label",
            "default": "Seconds",
            "label": "Seconds label"
          },
          {
            "type": "select",
            "id": "label_text_color",
            "options": [
              {
                "value": "main",
                "label": "Main"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              }
            ],
            "default": "main",
            "label": "Label text color"
          }
        ]
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1,
        "settings": [
					{
						"type": "select",
						"id": "price_size",
						"options": [
							{
							"value": "price--small",
							"label": "t:sections.all.heading_size.options__1.label"
							},
							{
							"value": "price--medium",
							"label": "t:sections.all.heading_size.options__2.label"
							},
							{
							"value": "price--large",
							"label": "t:sections.all.heading_size.options__3.label"
							}
						],
						"default": "price--medium",
						"label": "Price size"
					},
					{
            "type": "select",
            "id": "price_color",
            "options": [
              {
                "value": "foreground",
                "label": "t:settings_schema.colors.settings.text.label"
              },
              {
                "value": "foreground-secondary",
                "label": "t:settings_schema.colors.settings.text_secondary.label"
              },
              {
                "value": "accent",
                "label": "t:settings_schema.colors.settings.accent_color.label"
              }
            ],
            "default": "foreground",
            "label": "Color"
          }
        ]
      },
      {
        "type": "sku",
        "name": "t:sections.main-product.blocks.sku.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.main-product.blocks.sku.settings.text_style.options__1.label"
              },
              {
                "value": "subtitle",
                "label": "t:sections.main-product.blocks.sku.settings.text_style.options__2.label"
              },
              {
                "value": "uppercase",
                "label": "t:sections.main-product.blocks.sku.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.main-product.blocks.sku.settings.text_style.label"
          }
        ]
      },
      {
        "type": "inventory",
        "name": "t:sections.main-product.blocks.inventory.name",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "inventory_base",
            "label": "Inventory base quantity",
            "min": 0,
            "max": 200,
            "step": 2,
            "info": "The initial quantity of your product inventory. To set different base quantities for multiple products, use a dynamic source.",
            "default": 100
          },
          {
            "type": "range",
            "id": "inventory_threshold",
            "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
            "default": 10
          },
          {
            "type": "checkbox",
            "id": "show_inventory_quantity",
            "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_progress_bar",
            "label": "Show progress bar",
            "default": false
          },
          {
						"type": "select",
						"id": "label_font_size",
						"default": "extra-small",
						"label": "t:settings_schema.global.settings.font_size.label",
						"options": [
							{
								"value": "extra-small",
								"label": "t:settings_schema.global.settings.font_size.option_2"
							},
							{
								"value": "small",
								"label": "t:settings_schema.global.settings.font_size.option_3"
							},
							{
								"value": "medium",
								"label": "t:settings_schema.global.settings.font_size.option_4"
							}
						]
					},
          {
            "type": "color",
            "id": "color_in_stock",
            "label": "In stock",
            "default": "#2CB683"
          },
          {
            "type": "color",
            "id": "color_low_stock",
            "label": "Low in stock",
            "default": "#FF353C"
          }
        ]
      },
      {
        "type": "features_column",
        "name": "Features column",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "type": "image_picker",
            "id": "icon_col_1",
            "label": "Icon"
          },
          {
            "type": "inline_richtext",
            "id": "title_col_1",
            "label": "Title",
            "default": "Quality product"
          },
          {
            "type": "richtext",
            "id": "description_col_1",
            "label": "Description",
            "default": "<p>Lightning, Fast shipping. Guaranteed.</p>"

          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "type": "image_picker",
            "id": "icon_col_2",
            "label": "Icon"
          },
          {
            "type": "inline_richtext",
            "id": "title_col_2",
            "label": "Title",
            "default": "Free 30 day return"

          },
          {
            "type": "richtext",
            "id": "description_col_2",
            "label": "Description",
            "default": "<p>Shop risk-free with easy return.</p>"
          }
        ]
      },
      {
        "type": "delivery_date",
        "name": "Delivery",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
          },
          {
            "type": "header",
            "content": "Delivery date"
          },
          {
            "type": "checkbox",
            "id": "show_delivery_date",
            "default": true,
            "label": "Show delivery date"
          },
          {
            "type": "image_picker",
            "id": "icon_delivery",
            "label": "Icon"
          },
          {
            "type": "range",
            "id": "delivery_max",
            "label": "Max date",
            "min": 1,
            "max": 30,
            "step": 1,
            "default": 4
          },
          {
            "type": "text",
            "id": "delivery_heading",
            "default": "Expected delivery date:",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "delivery_text",
            "default": "Usually ready in 2-3 days.",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Pickup available"
          },
          {
            "type": "checkbox",
            "id": "show_pickup_availability",
            "default": true,
            "label": "Show pickup availability"
          },
		  {
			"type": "image_picker",
			"id": "icon_pickup",
			"label": "Icon pickup"
  		  }
        ]
      },
      {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
          },
          {
            "type": "select",
            "id": "picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
              },
              {
                "value": "button",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
              }
            ],
            "default": "button",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
          },
			{
				"type": "header",
				"content": "Color variants"
			},
          {
            "type": "select",
            "id": "swatch_picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__1.label"
              },
              {
                "value": "button",
                "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__2.label"
              }
            ],
            "default": "button",
            "label": "Type"
          },
          {
            "id": "swatch_shape",
            "type": "select",
            "label": "Swatch",
            "info": "Enable [swatches](https://help.shopify.com/en/manual/online-store/themes/theme-structure/theme-settings#options-with-swatches) on product options.",
            "options": [
              {
                "value": "circle",
                "label": "Circle"
              },
              {
                "value": "square",
                "label": "Square"
              },
              {
                "value": "square-img",
                "label": "Square image"
              },
              {
                "value": "none",
                "label": "None"
              }
            ],
            "default": "square"
          },
			{
			"type": "select",
			"id": "swatches_style",
			"label": "Pills style",
			"options": [
				{
					"value": "default",
					"label": "Default"
				},
				{
					"value": "outlined",
					"label": "Outlined"
				}
			],
			"default": "outlined"
			}
				]
			},
      {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
          },
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          },
          {
            "type": "checkbox",
            "id": "show_gift_card_recipient",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
          },
					{
						"type": "color_scheme",
						"id": "quantity_color_scheme",
						"label": "Quantity color scheme",
						"default": "scheme-1"
					}
        ]
      },
      {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1,
		"settings": [
		{
		"type": "select",
		"id": "text_size_block",
		"options": [
			{
			"value": "small",
			"label": "Small"
			},
			{
			"value": "medium",
			"label": "Medium"
			},
			{
			"value": "large",
			"label": "Large"
			}
			],
		"default": "medium",
		"label": "Description font size"
		}
		]
      },
      {
        "type": "share",
        "name": "t:sections.main-product.blocks.share.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.main-product.blocks.share.settings.text.label",
            "default": "Share"
          },
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
          },
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.title_info.content"
          }
        ]
      },
      {
        "type": "custom_liquid",
        "name": "t:sections.custom-liquid.name",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "t:sections.custom-liquid.settings.custom_liquid.label",
            "info": "t:sections.custom-liquid.settings.custom_liquid.info"
          }
        ]
      },
      {
        "type": "collapsible_tab",
        "name": "t:sections.main-product.blocks.collapsible_tab.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Collapsible row",
            "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h6",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h5",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h4",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h5",
            "label": "Heading size"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
              },
              {
                "value": "apple",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
              },
              {
                "value": "banana",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
              },
              {
                "value": "bottle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
              },
              {
                "value": "box",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
              },
              {
                "value": "carrot",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
              },
              {
                "value": "chat_bubble",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
              },
              {
                "value": "check_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
              },
              {
                "value": "clipboard",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
              },
              {
                "value": "dairy",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
              },
              {
                "value": "dairy_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
              },
              {
                "value": "dryer",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
              },
              {
                "value": "eye",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
              },
              {
                "value": "fire",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
              },
              {
                "value": "gluten_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
              },
              {
                "value": "heart",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
              },
              {
                "value": "iron",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
              },
              {
                "value": "leaf",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
              },
              {
                "value": "leather",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
              },
              {
                "value": "lightning_bolt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
              },
              {
                "value": "lipstick",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
              },
              {
                "value": "lock",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
              },
              {
                "value": "map_pin",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
              },
              {
                "value": "nut_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
              },
              {
                "value": "pants",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
              },
              {
                "value": "paw_print",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
              },
              {
                "value": "pepper",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
              },
              {
                "value": "perfume",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
              },
              {
                "value": "plane",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
              },
              {
                "value": "plant",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
              },
              {
                "value": "price_tag",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
              },
              {
                "value": "question_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
              },
              {
                "value": "recycle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
              },
              {
                "value": "return",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
              },
              {
                "value": "ruler",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
              },
              {
                "value": "serving_dish",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
              },
              {
                "value": "shirt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
              },
              {
                "value": "shoe",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
              },
              {
                "value": "silhouette",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
              },
              {
                "value": "snowflake",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
              },
              {
                "value": "star",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
              },
              {
                "value": "stopwatch",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
              },
              {
                "value": "truck",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
              },
              {
                "value": "washing",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
              }
            ],
            "default": "check_mark",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
          },
          {
            "type": "page",
            "id": "page",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
          }
        ]
      },
      {
        "type": "popup",
        "name": "t:sections.main-product.blocks.popup.name",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Pop-up link text",
            "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
          },
          {
            "id": "page",
            "type": "page",
            "label": "t:sections.main-product.blocks.popup.settings.page.label"
          }
        ]
      },
      {
        "type": "complementary",
        "name": "t:sections.main-product.blocks.complementary_products.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
          },
          {
            "type": "text",
            "id": "block_heading",
            "default": "Pairs well with",
            "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
          },
          {
            "type": "range",
            "id": "product_list_limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 10,
            "label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
          },
          {
            "type": "select",
            "id": "pagination_style",
            "options": [
              {
                "value": "arrows",
                "label": "Arrows"
              },
              {
                "value": "counter",
                "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_2"
              }
            ],
            "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.label",
            "default": "counter"
          },
          {
            "type": "header",
            "content": "t:sections.main-product.blocks.complementary_products.settings.product_card.heading"
          },
          {
            "type": "select",
            "id": "image_ratio",
            "options": [
              {
                "value": "portrait",
                "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_1"
              },
              {
                "value": "square",
                "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_2"
              }
            ],
            "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.label",
            "default": "square"
          },
          {
            "type": "checkbox",
            "id": "enable_quick_add",
            "label": "t:sections.main-product.blocks.complementary_products.settings.enable_quick_add.label",
            "default": false
          },
					{
						"type": "header",
						"content": "Product settings"
					},
					{
						"type": "select",
						"id": "product_heading_font_weight",
						"label": "Font weight",
						"options": [
						{
							"value": "fw-400",
							"label": "Regular"
						},
						{
							"value": "fw-500",
							"label": "Medium"
						},
						{
							"value": "fw-600",
							"label": "Semi Bold"
						},
						{
							"value": "fw-700",
							"label": "Bold"
						}
						],
						"default": "fw-500"
					}
        ]
      },
      {
        "type": "icon-with-text",
        "name": "t:sections.main-product.blocks.icon_with_text.name",
        "settings": [
          {
            "type": "select",
            "id": "layout",
            "options": [
              {
                "value": "horizontal",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__1.label"
              },
              {
                "value": "vertical",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__2.label"
              }
            ],
            "default": "horizontal",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.label"
          },
          {
            "type": "header",
            "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label",
            "info": "t:sections.main-product.blocks.icon_with_text.settings.content.info"
          },
          {
            "type": "select",
            "id": "icon_1",
            "options": [
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
              },
              {
                "value": "apple",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
              },
              {
                "value": "banana",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
              },
              {
                "value": "bottle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
              },
              {
                "value": "box",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
              },
              {
                "value": "carrot",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
              },
              {
                "value": "chat_bubble",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
              },
              {
                "value": "check_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
              },
              {
                "value": "clipboard",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
              },
              {
                "value": "dairy",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
              },
              {
                "value": "dairy_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
              },
              {
                "value": "dryer",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
              },
              {
                "value": "eye",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
              },
              {
                "value": "fire",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
              },
              {
                "value": "gluten_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
              },
              {
                "value": "heart",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
              },
              {
                "value": "iron",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
              },
              {
                "value": "leaf",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
              },
              {
                "value": "leather",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
              },
              {
                "value": "lightning_bolt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
              },
              {
                "value": "lipstick",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
              },
              {
                "value": "lock",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
              },
              {
                "value": "map_pin",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
              },
              {
                "value": "nut_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
              },
              {
                "value": "pants",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
              },
              {
                "value": "paw_print",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
              },
              {
                "value": "pepper",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
              },
              {
                "value": "perfume",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
              },
              {
                "value": "plane",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
              },
              {
                "value": "plant",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
              },
              {
                "value": "price_tag",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
              },
              {
                "value": "question_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
              },
              {
                "value": "recycle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
              },
              {
                "value": "return",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
              },
              {
                "value": "ruler",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
              },
              {
                "value": "serving_dish",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
              },
              {
                "value": "shirt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
              },
              {
                "value": "shoe",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
              },
              {
                "value": "silhouette",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
              },
              {
                "value": "snowflake",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
              },
              {
                "value": "star",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
              },
              {
                "value": "stopwatch",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
              },
              {
                "value": "truck",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
              },
              {
                "value": "washing",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
              }
            ],
            "default": "heart",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
          },
          {
            "type": "inline_richtext",
            "id": "heading_1",
            "default": "Heading",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
            "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
          },
          {
            "type": "select",
            "id": "icon_2",
            "options": [
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
              },
              {
                "value": "apple",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
              },
              {
                "value": "banana",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
              },
              {
                "value": "bottle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
              },
              {
                "value": "box",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
              },
              {
                "value": "carrot",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
              },
              {
                "value": "chat_bubble",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
              },
              {
                "value": "check_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
              },
              {
                "value": "clipboard",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
              },
              {
                "value": "dairy",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
              },
              {
                "value": "dairy_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
              },
              {
                "value": "dryer",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
              },
              {
                "value": "eye",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
              },
              {
                "value": "fire",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
              },
              {
                "value": "gluten_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
              },
              {
                "value": "heart",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
              },
              {
                "value": "iron",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
              },
              {
                "value": "leaf",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
              },
              {
                "value": "leather",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
              },
              {
                "value": "lightning_bolt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
              },
              {
                "value": "lipstick",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
              },
              {
                "value": "lock",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
              },
              {
                "value": "map_pin",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
              },
              {
                "value": "nut_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
              },
              {
                "value": "pants",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
              },
              {
                "value": "paw_print",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
              },
              {
                "value": "pepper",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
              },
              {
                "value": "perfume",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
              },
              {
                "value": "plane",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
              },
              {
                "value": "plant",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
              },
              {
                "value": "price_tag",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
              },
              {
                "value": "question_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
              },
              {
                "value": "recycle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
              },
              {
                "value": "return",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
              },
              {
                "value": "ruler",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
              },
              {
                "value": "serving_dish",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
              },
              {
                "value": "shirt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
              },
              {
                "value": "shoe",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
              },
              {
                "value": "silhouette",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
              },
              {
                "value": "snowflake",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
              },
              {
                "value": "star",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
              },
              {
                "value": "stopwatch",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
              },
              {
                "value": "truck",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
              },
              {
                "value": "washing",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
              }
            ],
            "default": "return",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_2.label"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
          },
          {
            "type": "inline_richtext",
            "id": "heading_2",
            "default": "Heading",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
            "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
          },
          {
            "type": "select",
            "id": "icon_3",
            "options": [
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
              },
              {
                "value": "apple",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
              },
              {
                "value": "banana",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
              },
              {
                "value": "bottle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
              },
              {
                "value": "box",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
              },
              {
                "value": "carrot",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
              },
              {
                "value": "chat_bubble",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
              },
              {
                "value": "check_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
              },
              {
                "value": "clipboard",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
              },
              {
                "value": "dairy",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
              },
              {
                "value": "dairy_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
              },
              {
                "value": "dryer",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
              },
              {
                "value": "eye",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
              },
              {
                "value": "fire",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
              },
              {
                "value": "gluten_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
              },
              {
                "value": "heart",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
              },
              {
                "value": "iron",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
              },
              {
                "value": "leaf",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
              },
              {
                "value": "leather",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
              },
              {
                "value": "lightning_bolt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
              },
              {
                "value": "lipstick",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
              },
              {
                "value": "lock",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
              },
              {
                "value": "map_pin",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
              },
              {
                "value": "nut_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
              },
              {
                "value": "pants",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
              },
              {
                "value": "paw_print",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
              },
              {
                "value": "pepper",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
              },
              {
                "value": "perfume",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
              },
              {
                "value": "plane",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
              },
              {
                "value": "plant",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
              },
              {
                "value": "price_tag",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
              },
              {
                "value": "question_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
              },
              {
                "value": "recycle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
              },
              {
                "value": "return",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
              },
              {
                "value": "ruler",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
              },
              {
                "value": "serving_dish",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
              },
              {
                "value": "shirt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
              },
              {
                "value": "shoe",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
              },
              {
                "value": "silhouette",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
              },
              {
                "value": "snowflake",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
              },
              {
                "value": "star",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
              },
              {
                "value": "stopwatch",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
              },
              {
                "value": "truck",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
              },
              {
                "value": "washing",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
              }
            ],
            "default": "truck",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_3.label"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
          },
          {
            "type": "inline_richtext",
            "id": "heading_3",
            "default": "Heading",
            "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.label",
            "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.all.learn_more_preset.info"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky_info",
        "default": true,
        "label": "t:sections.main-product.settings.enable_sticky_info.label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-2"
      },
      {
        "type": "header",
        "content": "t:sections.main-product.settings.header.content",
        "info": "t:sections.main-product.settings.header.info"
      },
      {
        "type": "select",
        "id": "media_size",
        "options": [
          {
            "value": "small",
            "label": "t:sections.main-product.settings.media_size.options__1.label"
          },
          {
            "value": "medium",
            "label": "t:sections.main-product.settings.media_size.options__2.label"
          },
          {
            "value": "large",
            "label": "t:sections.main-product.settings.media_size.options__3.label"
          }
        ],
        "default": "large",
        "label": "t:sections.main-product.settings.media_size.label",
        "info": "t:sections.main-product.settings.media_size.info"
      },
      {
        "type": "select",
        "id": "media_position",
        "options": [
          {
            "value": "left",
            "label": "t:sections.main-product.settings.media_position.options__1.label"
          },
          {
            "value": "right",
            "label": "t:sections.main-product.settings.media_position.options__2.label"
          }
        ],
        "default": "left",
        "label": "t:sections.main-product.settings.media_position.label",
        "info": "t:sections.main-product.settings.media_position.info"
      },
      {
        "type": "checkbox",
        "id": "constrain_to_viewport",
        "default": true,
        "label": "t:sections.main-product.settings.constrain_to_viewport.label"
      },
      {
        "type": "select",
        "id": "media_fit",
        "options": [
          {
            "value": "contain",
            "label": "t:sections.main-product.settings.media_fit.options__1.label"
          },
          {
            "value": "cover",
            "label": "t:sections.main-product.settings.media_fit.options__2.label"
          }
        ],
        "default": "contain",
        "label": "t:sections.main-product.settings.media_fit.label"
      },
      {
        "type": "select",
        "id": "gallery_layout",
        "options": [
          {
            "value": "stacked",
            "label": "t:sections.main-product.settings.gallery_layout.options__1.label"
          },
          {
            "value": "stacked-2",
            "label": "Stacked 2 columns"
          },
          {
            "value": "stacked-3",
            "label": "Stacked 3 columns"
          },
          {
            "value": "columns",
            "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
          },
          {
            "value": "thumbnail",
            "label": "t:sections.main-product.settings.gallery_layout.options__3.label"
          },
          {
            "value": "thumbnail_slider",
            "label": "t:sections.main-product.settings.gallery_layout.options__4.label"
          },
        ],
        "default": "thumbnail_slider",
        "label": "t:sections.main-product.settings.gallery_layout.label"
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "Thumbnail position"
      },
      {
        "type": "select",
        "id": "image_zoom",
        "options": [
          {
            "value": "lightbox",
            "label": "t:sections.main-product.settings.image_zoom.options__1.label"
          },
          {
            "value": "hover",
            "label": "t:sections.main-product.settings.image_zoom.options__2.label"
          },
          {
            "value": "none",
            "label": "t:sections.main-product.settings.image_zoom.options__3.label"
          }
        ],
        "default": "lightbox",
        "label": "t:sections.main-product.settings.image_zoom.label",
        "info": "t:sections.main-product.settings.image_zoom.info"
      },
      {
        "type": "select",
        "id": "mobile_thumbnails",
        "options": [
          {
            "value": "columns",
            "label": "t:sections.main-product.settings.mobile_thumbnails.options__1.label"
          },
          {
            "value": "show",
            "label": "t:sections.main-product.settings.mobile_thumbnails.options__2.label"
          },
          {
            "value": "hide",
            "label": "t:sections.main-product.settings.mobile_thumbnails.options__3.label"
          }
        ],
        "default": "hide",
        "label": "t:sections.main-product.settings.mobile_thumbnails.label"
      },
      {
        "type": "checkbox",
        "id": "hide_variants",
        "default": false,
        "label": "t:sections.main-product.settings.hide_variants.label"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "default": false,
        "label": "t:sections.main-product.settings.enable_video_looping.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 70
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 70
      }
    ]
  }
{% endschema %}