{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% if collection.image != blank %}
  {% assign collection_image = collection.image %}
{% elsif collection.featured_image != blank %}
  {% assign collection_image = collection.featured_image %}
{% else %}
  {% assign collection_image = section.settings.default_image %}
{% endif %}

{%- style -%}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.section_background }};

    {%- if collection_image != blank -%}
      --focal-point: {{ collection_image.presentation.focal_point | default: "50% 50%" }};
    {%- endif -%}
  }

  @media screen and (max-width: 749px) {
    .collection-hero__inner {
      padding-top: {{ section.settings.padding_top | times: 0.57 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.57 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 750px) and (max-width: 1199px) {
    .collection-hero__inner {
      padding-top: {{ section.settings.padding_top | times: 0.72 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.72 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1200px) {
    .collection-hero__inner {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .collection-hero__heading-flex {
    flex-basis: calc((100% - {{ section.settings.image_size }}%) - 1.5rem);
    width: calc((100% - {{ section.settings.image_size }}%) - 1.5rem);
    align-self: center;
  }

  @media screen and (max-width: 749px) {
    .collection-hero__heading-flex {
      flex-basis: 100%;
      width: 100%;
    }
  }

  .collection-hero__image-container:after,
  .collection-hero__img-wrapper:after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  .collection-hero__img-wrapper {
    flex-basis: calc({{ section.settings.image_size }}% - 1.5rem);
    width: calc({{ section.settings.image_size }}% - 1.5rem);
  }

  @media screen and (max-width: 749px) {
    .collection-hero__img-wrapper  {
      flex-basis: 100%;
      width: 100%;
    }
  }

  .breadcrumbs__item:last-child {
    color: rgb(var(--color-accent));
  }
{%- endstyle -%}


{%- if section.settings.show_collection_breadcrumbs and section.settings.show_breadcrumbs_top -%}
  <nav class="page-width collection-hero___breadcrumbs{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <ul class="breadcrumbs__list breadcrumbs__list-top">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}">
          Home
        </a>
      </li>
      <li class="breadcrumbs__item">
        {% render 'icon-caret' %}
        {{- collection.title -}}
      </li>
    </ul>
  </nav>
{%- endif -%}

<div class="collection-hero{% if section.settings.show_collection_image and collection_image %} collection-hero--with-image{% endif %}">

  {%- if section.settings.section_full_width != true -%}<div class="collection-wrap">{%- endif -%}

    <div class="collection-hero__inner {% if section.settings.section_full_width != true  %}not-full{% endif %} align-{{ section.settings.heading_alignment }} color-{{ section.settings.color_scheme }} banner--{{ section.settings.banner_height }} banner--content-align-{{ section.settings.content_alignment }} gradient {% if section.settings.hide_radius %} without-radius {% endif %}">
  
      {%- if section.settings.show_collection_image and collection_image and section.settings.image_block == false -%}
        <div class="collection-hero__image-container media gradient">
          <img srcset="
            {%- if collection_image.width >= 165 -%}{{ collection_image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection_image.width >= 360 -%}{{ collection_image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection_image.width >= 535 -%}{{ collection_image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection_image.width >= 750 -%}{{ collection_image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection_image.width >= 768 -%}{{ collection_image | image_url: width: 768 }} 768w,{%- endif -%}
            {%- if collection_image.width >= 950 -%}{{ collection_image | image_url: width: 950 }} 950w,{%- endif -%}
            {%- if collection_image.width >= 1024 -%}{{ collection_image | image_url: width: 1024 }} 1024w,{%- endif -%}
            {%- if collection_image.width >= 1070 -%}{{ collection_image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection_image.width >= 1280 -%}{{ collection_image | image_url: width: 1280 }} 1280w,{%- endif -%}
            {%- if collection_image.width >= 1360 -%}{{ collection_image | image_url: width: 1360 }} 1360w,{%- endif -%}
            {%- if collection_image.width >= 1440 -%}{{ collection_image | image_url: width: 1440 }} 1440w,{%- endif -%}
            {%- if collection_image.width >= 1500 -%}{{ collection_image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if collection_image.width >= 1600 -%}{{ collection_image | image_url: width: 1600 }} 1600w,{%- endif -%}
            {%- if collection_image.width >= 1700 -%}{{ collection_image | image_url: width: 1700 }} 1700w,{%- endif -%}
            {%- if collection_image.width >= 1800 -%}{{ collection_image | image_url: width: 1800 }} 1800w,{%- endif -%}
            {%- if collection_image.width >= 1900 -%}{{ collection_image | image_url: width: 1900 }} 1900w,{%- endif -%}
            {%- if collection_image.width >= 2000 -%}{{ collection_image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {{ collection_image | image_url }} {{ collection_image.width }}w"
            src="{{ collection_image | image_url: width: 1920 }}"
            loading="eager" fetchpriority="high"
            sizes="(min-width: {{ settings.page_width }}px) 100vw, (min-width: 750px) 100vw, 100vw"
            alt="{{- collection.title | escape -}}" width="{{ collection_image.width }}" height="{{ collection_image.height }}">
        </div>
      {%- endif -%}
  
      <div class="collection-hero__text-wrapper page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% if section.settings.image_block %}flex-container{% endif %}">
        <div class="{% if section.settings.image_block %}collection-hero__heading-flex{% endif %}">
          {%- if section.settings.show_collection_breadcrumbs and section.settings.show_breadcrumbs_top == false -%}
            <nav class="collection-hero___breadcrumbs">
              <ul class="breadcrumbs__list breadcrumbs__list--banner">
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ routes.root_url }}">
                    Home
                  </a>
                </li>
                <li class="breadcrumbs__item">
                  {% render 'icon-caret' %}
                  {{- collection.title -}}
                </li>
              </ul>
            </nav>
          {%- endif -%}
    
          <h1 class="collection-hero__title {{ section.settings.heading_size }}">
            <span class="visually-hidden">{{- 'sections.collection_template.title' | t -}}: </span>
            {{- collection.title | escape -}}
          </h1>
					{% liquid
						assign has_description = false
						assign description = nil
						if section.settings.description_text != blank  
							assign has_description = true
							assign description = section.settings.description_text
						endif
						if collection.description != blank  
							assign has_description = true
							assign description = collection.description | truncatewords: 50, "..."
						endif
					%}
          {%- if section.settings.show_collection_description and has_description and description != blank  -%}
            <div class="collection-hero__description rte rte-{{ section.settings.text_size_block }} {% if section.settings.text_secondary_color %}secondary-color{% endif %}">
              {{ description }}
            </div>
          {%- endif -%}
        </div>

        {%- if section.settings.show_collection_image and collection_image and section.settings.image_block -%}
          <div class="collection-hero__img-wrapper">
              {% comment %} <img src="{{ section.settings.image | image_url }}" loading="lazy" alt="banner image" width="" height="450"> {% endcomment %}
              <img srcset="
                {%- if collection_image.width >= 165 -%}{{ collection_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if collection_image.width >= 360 -%}{{ collection_image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if collection_image.width >= 535 -%}{{ collection_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if collection_image.width >= 750 -%}{{ collection_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if collection_image.width >= 768 -%}{{ collection_image | image_url: width: 768 }} 768w,{%- endif -%}
                {%- if collection_image.width >= 950 -%}{{ collection_image | image_url: width: 950 }} 950w,{%- endif -%}
                {%- if collection_image.width >= 1024 -%}{{ collection_image | image_url: width: 1024 }} 1024w,{%- endif -%}
                {%- if collection_image.width >= 1070 -%}{{ collection_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                {%- if collection_image.width >= 1280 -%}{{ collection_image | image_url: width: 1280 }} 1280w,{%- endif -%}
                {%- if collection_image.width >= 1360 -%}{{ collection_image | image_url: width: 1360 }} 1360w,{%- endif -%}
                {%- if collection_image.width >= 1440 -%}{{ collection_image | image_url: width: 1440 }} 1440w,{%- endif -%}
                {%- if collection_image.width >= 1500 -%}{{ collection_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if collection_image.width >= 1600 -%}{{ collection_image | image_url: width: 1600 }} 1600w,{%- endif -%}
                {%- if collection_image.width >= 1700 -%}{{ collection_image | image_url: width: 1700 }} 1700w,{%- endif -%}
                {%- if collection_image.width >= 1800 -%}{{ collection_image | image_url: width: 1800 }} 1800w,{%- endif -%}
                {%- if collection_image.width >= 1900 -%}{{ collection_image | image_url: width: 1900 }} 1900w,{%- endif -%}
                {%- if collection_image.width >= 2000 -%}{{ collection_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                {{ collection_image | image_url }} {{ collection_image.width }}w"
                src="{{ collection_image | image_url: width: 1920 }}"
                loading="eager" fetchpriority="high"
                sizes="(min-width: {{ settings.page_width }}px) 100vw, (min-width: 750px) 100vw, 100vw"
                alt="{{- collection.title | escape -}}" width="{{ collection_image.width }}" height="{{ collection_image.height }}">
            </div>
        {%- endif -%}

      </div>
  
    </div>
    {%- if section.settings.section_full_width != true -%}</div>{%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.all.learn_more_preset.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "text_secondary_color",
      "label": "Use secondary color for text",
      "default": false,
    },
    {
      "type": "checkbox",
      "id": "show_collection_breadcrumbs",
      "default": true,
      "label": "Show collection breadcrumbs"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs_top",
      "default": false,
      "label": "Show breadcrumbs above section",
	  "info": "Doesn't work with transparent header"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
	{
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "richtext",
      "id": "description_text",
      "label": "t:sections.testimonials.blocks.testimonial.settings.text.label"
    },
    {
      "type": "select",
      "id": "text_size_block",
      "options": [
        {
        "value": "small",
        "label": "Small"
        },
        {
        "value": "medium",
        "label": "Medium"
        },
        {
        "value": "large",
        "label": "Large"
        }
        ],
      "default": "medium",
      "label": "Text size"
    },
    {
      "type": "text_alignment",
      "id": "heading_alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "image_picker",
      "id": "default_image",
      "label": "Custom image",
      "info": "This image is used when the collection does not have its own image and on the \"Products all\" page."
    },
		{
      "type": "select",
      "id": "banner_height",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "default",
      "label": "Banner height"
    },	
    {
      "type": "checkbox",
      "id": "image_block",
      "default": false,
      "label": "Show image on right side"
    },
		{
			"type": "checkbox",
			"id": "hide_radius",
			"default": false,
			"label": "Hide border radius"
		},
    {
      "type": "select",
      "id": "image_size",
      "options": [
        {
          "value": "50",
          "label": "Half width"
        },
        {
          "value": "38",
          "label": "One-third width"
        },
        {
          "value": "60",
          "label": "Two-third width"
        }
      ],
      "default": "60",
      "label": "Image block size"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 70
    },
		{
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "label": "Desktop content position",
			"default": "center"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "Full width section",
      "default": true,
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Section background color",
      "default": "#ffffff",
      "info": "Sets the color of the section when the block is not full width"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 200
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ]
}
{% endschema %}
