{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

<style>
	{% if section.settings.cover_overlay != blank and section.settings.cover_overlay != 'rgba(0,0,0,0)' %}
		#shopify-section-{{ section.id }} {
			--cover-overlay: {{ section.settings.cover_overlay }};
		}
	{% endif %}

  @media screen and (max-width: 749px) {
    .collection-list-banner {
      padding-top: {{ section.settings.padding_top | times: 0.57 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.57 | round: 0 }}px;
    }
    .collection-list-content {
      padding-top: {{ section.settings.collection_padding_top | times: 0.57 | round: 0 }}px;
      padding-bottom: {{ section.settings.collection_padding_bottom | times: 0.57 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1199px) {
    .collection-list-banner {
      padding-top: {{ section.settings.padding_top | times: 0.72 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.72 | round: 0 }}px;
    }
    .collection-list-content {
      padding-top: {{ section.settings.collection_padding_top | times: 0.72 | round: 0 }}px;
      padding-bottom: {{ section.settings.collection_padding_bottom | times: 0.72 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 1200px) {
    .collection-list-banner {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .collection-list-content {
      padding-top: {{ section.settings.collection_padding_top }}px;
      padding-bottom: {{ section.settings.collection_padding_bottom }}px;
    }
  }
  .collection-list-image-container:after,
  .collection-list-img-wrapper:after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
  .collection-list-heading {
    flex-basis: calc((100% - {{ section.settings.image_size }}%) - 1.5rem);
    width: calc((100% - {{ section.settings.image_size }}%) - 1.5rem);
    align-self: center;
  }
  @media screen and (max-width: 749px) {
    .collection-list-heading {
      flex-basis: 100%;
      width: 100%;
    }
  }
  .collection-list-img-wrapper {
    flex-basis: calc({{ section.settings.image_size }}% - 1.5rem);
    width: calc({{ section.settings.image_size }}% - 1.5rem);
  }
  @media screen and (max-width: 749px) {
    .collection-list-img-wrapper {
      flex-basis: 100%;
      width: 100%;
    }
  }
  .breadcrumbs__item:last-child {
    color: rgb(var(--color-accent));
  }
</style>

{%- if section.settings.show_breadcrumbs and section.settings.show_breadcrumbs_top -%}
  <nav class="page-width collection-list__breadcrumbs{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <ul class="breadcrumbs__list breadcrumbs__list-top">

      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}">
          Home
        </a>
      </li>

      <li class="breadcrumbs__item">
        {% render 'icon-caret' %}
        {{- section.settings.title | strip_html -}}
      </li>

    </ul>
  </nav>
{%- endif -%}


{%- if section.settings.section_full_width != true -%}<div class="collection-list-wrap">{%- endif -%}

  <div class="collection-list-banner {% if section.settings.section_full_width != true  %}not-full{% endif %} color-{{ section.settings.banner_color_scheme }} align-{{ section.settings.heading_alignment }} banner--{{ section.settings.banner_height }} banner--content-align-{{ section.settings.content_alignment }} {% if section.settings.hide_radius %} without-radius {% endif %}">

    {%- if section.settings.image != blank and section.settings.image_block == false -%}
      <div class="collection-list-image-container">
        {%- assign widths = '198, 320, 360, 380, 400, 420, 432, 460, 642, 768, 900, 1024, 1284, 1300, 1360, 1400, 1440, 1500, 1600, 1700, 1800, 1900, 1920, 2000' -%}
        {%- capture sizes -%}
          (min-width: 750px) 100vw, 
          100vw
        {%- endcapture -%}
        {{
          section.settings.image
          | image_url: width: 1920
          | image_tag: 
            sizes: sizes, 
            widths: widths
        }}
      </div>
    {%- endif -%}

    <div class="page-width {% if section.settings.image_block %}flex-container{% endif %}">
      <div class="align-{{ section.settings.heading_alignment }} {% if section.settings.image_block %}collection-list-heading{% endif %}">
        {%- if section.settings.show_breadcrumbs and section.settings.show_breadcrumbs_top == false -%}
          <nav class="collection-list__breadcrumbs{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            <ul class="breadcrumbs__list breadcrumbs__list--banner">

              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ routes.root_url }}">
                  Home
                </a>
              </li>
      
              <li class="breadcrumbs__item">
                {% render 'icon-caret' %}
                {{- section.settings.title | strip_html -}}
              </li>
      
            </ul>
          </nav>
        {%- endif -%}

        <h1 class="{{ section.settings.heading_size }} inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
          {{- section.settings.title -}}
        </h1>

        {% if section.settings.description_text != blank %}
          <div class="collection-list-description {% if section.settings.text_secondary_color %}secondary-color{% endif %} rte rte-{{ section.settings.text_size_block }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            {{ section.settings.description_text }}
          </div>
        {% endif %}
      </div>

      {%- if section.settings.image != blank and section.settings.image_block -%}
        <div class="collection-list-img-wrapper">
            <img src="{{ section.settings.image | image_url }}" loading="lazy" alt="banner image" width="" height="450">
        </div>
      {%- endif -%}
    </div>
  </div>

{%- if section.settings.section_full_width != true -%}</div>{%- endif -%}

<div class="collection-list-content color-{{ section.settings.color_scheme }}">
  <div class="page-width">
  
    {%- liquid
      case section.settings.sort
        when 'products_high', 'products_low'
          assign collections = collections | sort: 'all_products_count'
        when 'date', 'date_reversed'
          assign collections = collections | sort: 'published_at'
      endcase

      if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
        assign collections = collections | reverse
      endif

      assign moduloResult = 28 | modulo: section.settings.columns_desktop
      assign paginate_by = 30
      if moduloResult == 0
        assign paginate_by = 28
      endif
    -%}
  
    {%- paginate collections by paginate_by -%}
      
      <ul class="collection-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
        role="list">
        {%- for collection in collections -%}
          <li class="collection-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} {% if section.settings.hide_radius_cover %}overlay-without-radius{% endif %}" {% if settings.animations_reveal_on_scroll %} data-cascade style="--animation-order: {{ forloop.index }};"{% endif %}>
            {% render 'card-collection',
              card_collection: collection,
              media_aspect_ratio: section.settings.image_ratio,
              image_type: section.settings.image_type,
              show_description: section.settings.show_description,
							description_size: section.settings.description_size,
              link_label: section.settings.link_label,
              button_style: section.settings.button_style,
              cover_color_scheme: section.settings.cover_color_scheme,
              forloop: forloop,
              columns: 3,
              card_heading_size: section.settings.card_heading_size
            %}
          </li>
        {%- endfor -%}
      </ul>
  
      {% render 'pagination', paginate: paginate %}

    {%- endpaginate -%}
  </div>
</div>

{% schema %}

{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.all.learn_more_preset.info"
    },
    {
      "type": "header",
      "content": "Banner settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
		{
      "type": "select",
      "id": "banner_height",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "default",
      "label": "Banner height"
    },	
    {
      "type": "checkbox",
      "id": "image_block",
      "default": false,
      "label": "Show image on right side"
    },
		{
			"type": "checkbox",
			"id": "hide_radius",
			"default": false,
			"label": "Hide border radius"
		},
    {
      "type": "select",
      "id": "image_size",
      "options": [
        {
          "value": "50",
          "label": "Half width"
        },
        {
          "value": "38",
          "label": "One-third width"
        },
        {
          "value": "60",
          "label": "Two-third width"
        }
      ],
      "default": "60",
      "label": "Image block size"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 60
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "default": true,
      "label": "Show breadcrumbs"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs_top",
      "default": false,
      "label": "Show breadcrumbs above section",
	  "info": "Doesn't work with transparent header"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h0",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description_text",
      "label": "t:sections.main-list-collections.settings.description.label"
    },
    {
      "type": "select",
      "id": "text_size_block",
      "options": [
        {
        "value": "small",
        "label": "Small"
        },
        {
        "value": "medium",
        "label": "Medium"
        },
        {
        "value": "large",
        "label": "Large"
        }
        ],
      "default": "medium",
      "label": "Description size"
    },
    {
      "type": "text_alignment",
      "id": "heading_alignment",
      "label": "Content alignment",
      "default": "center"
    },
		{
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "label": "Desktop content position",
			"default": "center"
    },
    {
      "type": "color_scheme",
      "id": "banner_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-3"
    },
    {
      "type": "checkbox",
      "id": "text_secondary_color",
      "label": "Use secondary color for text",
      "default": false,
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "Full width section",
      "default": true,
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 200
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "Collection settings"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "select",
      "id": "image_type",
      "options": [
        {
          "value": "standart",
          "label": "Standart"
        },
        {
          "value": "cover",
          "label": "Card"
        },
        {
          "value": "cover_first",
          "label": "First card"
        }
      ],
      "default": "cover_first",
      "label": "Card style"
    },
		{
			"type": "color_background",
			"id": "cover_overlay",
			"label": "Cover card style overlay"
		},
    {
      "type": "checkbox",
      "id": "hide_radius_cover",
      "label": "Hide overlay radius",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "cover_color_scheme",
      "label": "Cover card color scheme",
      "default": "scheme-3"
    },
    {
      "type": "select",
      "id": "card_heading_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__3.label"
        },
				{
          "value": "h3",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h4",
      "label": "Heading size"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "default": false,
      "label": "Show description"
    },
    {
      "type": "select",
      "id": "description_size",
      "options": [
        {
          "value": "text--small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
				{
          "value": "text--medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
				{
          "value": "text--large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "text--medium",
      "label": "Description size"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link label"
    },
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"options": [
				{
					"value": "link",
					"label": "Inline button"
				},
				{
					"value": "link_hover",
					"label": "Inline button with underline on hover"
				},
				{
					"value": "link_icon",
					"label": "Inline button with icon"
				}
			],
			"default": "link_icon"
		},
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "t:sections.main-list-collections.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "collection_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "collection_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 70
    }
  ]
}
{% endschema %}
