{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-breadcrumb.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    {%- if section.settings.image != blank -%}
      --focal-point: {{ section.settings.image.presentation.focal_point | default: "50% 50%" }};
    {%- endif -%}
  }

  @media screen and (max-width: 749px) {
    .main-blog-hero__inner {
      padding-top: {{ section.settings.banner_padding_top | times: 0.57 | round: 0 }}px;
      padding-bottom: {{ section.settings.banner_padding_bottom | times: 0.57 | round: 0 }}px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.57 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.57 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1199px) {
    .main-blog-hero__inner {
      padding-top: {{ section.settings.banner_padding_top | times: 0.72 | round: 0 }}px;
      padding-bottom: {{ section.settings.banner_padding_bottom | times: 0.72 | round: 0 }}px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.72 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.72 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 1200px) {
    .main-blog-hero__inner {
      padding-top: {{ section.settings.banner_padding_top }}px;
      padding-bottom: {{ section.settings.banner_padding_bottom }}px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .main-blog-hero__image-container:after,
  .main-page__img-wrapper:after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
  .main-page__heading-flex {
    flex-basis: calc((100% - {{ section.settings.image_size }}%) - 1.5rem);
    width: calc((100% - {{ section.settings.image_size }}%) - 1.5rem);
    align-self: center;
  }

  @media screen and (max-width: 749px) {
    .main-page__heading-flex {
      flex-basis: 100%;
      width: 100%;
    }
  }
  .main-page__img-wrapper {
    flex-basis: calc({{ section.settings.image_size }}% - 1.5rem);
    width: calc({{ section.settings.image_size }}% - 1.5rem);
  }

  @media screen and (max-width: 749px) {
    .main-page__img-wrapper  {
      flex-basis: 100%;
      width: 100%;
    }
  }

{%- endstyle -%}

{%- if section.settings.show_breadcrumbs and section.settings.show_breadcrumbs_top -%}
  <nav class="page-width main-blog-hero___breadcrumbs {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <ul class="breadcrumbs__list breadcrumbs__list-top">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}">
          Home
        </a>
      </li>
      <li class="breadcrumbs__item">
        {% render 'icon-caret' %}
        {{- blog.title | strip_html -}}
      </li>
    </ul>
  </nav>
{%- endif -%}

{%- if section.settings.section_full_width != true -%}<div class="main-blog-hero">{%- endif -%}

  <div class="main-blog-hero__inner {% if section.settings.radius_background %}radius-background{% endif %} {% if section.settings.section_full_width != true  %}not-full{% endif %} color-{{ section.settings.color_scheme }} gradient">
    {%- if section.settings.image != blank and section.settings.image_block == false -%}
      <div class="main-blog-hero__image-container media gradient" >
		<noscript>
    <img 
      src="{{ section.settings.image | image_url: width: 1920 }}" 
      alt="{{- page.title | escape -}}"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.height }}">
  		</noscript>
        <img srcset=" {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1600 -%}{{ section.settings.image | image_url: width: 1600 }} 1600w,{%- endif -%}
          {%- if section.settings.image.width >= 1700 -%}{{ section.settings.image | image_url: width: 1700 }} 1700w,{%- endif -%}
          {%- if section.settings.image.width >= 1800 -%}{{ section.settings.image | image_url: width: 1800 }} 1800w,{%- endif -%}
          {%- if section.settings.image.width >= 1900 -%}{{ section.settings.image | image_url: width: 1900 }} 1900w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
          src="{{ section.settings.image | image_url: width: 1920 }}"
          sizes="100vw"
          alt="{{- page.title | escape -}}"
          loading="eager"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}">
      </div>
    {%- endif -%}

    <div class="page-width {% if section.settings.image_block %}flex-container{% endif %}">
      <div class="main-page__heading align-{{ section.settings.heading_alignment }} {% if section.settings.image_block %}main-page__heading-flex{% endif %}">
        {%- if section.settings.show_breadcrumbs and section.settings.show_breadcrumbs_top == false -%}
          <nav class="main-blog-hero___breadcrumbs {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            <ul class="breadcrumbs__list breadcrumbs__list--banner">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ routes.root_url }}">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                {% render 'icon-caret' %}
                {{- blog.title | strip_html -}} 
              </li>
            </ul>
          </nav>
        {%- endif -%}

        <h1 class="main-page-title inline-richtext page-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
          {% if section.settings.title != blank %}
            {{ section.settings.title }}
          {% else %}
            {{ blog.title | escape }}
          {% endif %}
        </h1>

        {% if section.settings.description_text != blank %}
          <div class="main-page-description {% if section.settings.text_secondary_color %}secondary-color{% endif %} rte rte-{{ section.settings.text_size_block }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            {{ section.settings.description_text }}
          </div>
        {% endif %}
      </div>

      {%- if section.settings.image != blank and section.settings.image_block -%}
        <div class="main-page__img-wrapper">
            <img src="{{ section.settings.image | image_url }}" loading="lazy" alt="banner image" width="" height="450">
        </div>
      {%- endif -%}

    </div>
  </div>

{%- if section.settings.section_full_width != true -%}</div>{%- endif -%}

{% liquid
  assign blog_paginate = 8
  if section.settings.layout == 'collage'
    assign blog_paginate = 6
  endif
%}

{%- paginate blog.articles by blog_paginate -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">

    {% if blog.tags.size > 0 %}
      <div class="blog-tabheader {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        <ul class="blog-tabheader__items">
          <li class="blog-tabheader__item {% if request.path == blog.url %} blog-tabheader__item_active {% endif %}">
            <a href="{{ blog.url }}" class="h6" rel="nofollow"><h3 class="h6">All</h3></a>
          </li>
          {% for tag in blog.all_tags %}
            {% liquid
              assign tag_handleized = tag | handleize
              assign tag_url = blog.url | append: '/tagged/' | append: tag_handleized 
            %}

            <li class="blog-tabheader__item {% if request.path == tag_url %} blog-tabheader__item_active {% endif %}">
              <a href="{{ tag_url }}" rel="nofollow">
                <h3 class="h6">{{ tag }}</h3>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div data-tags="{{ article.tags | join: ',' }}" class="blog-articles__article  article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {% if settings.animations_reveal_on_scroll %} data-cascade style="--animation-order: {{ forloop.index }};" {% endif %}>
          {%- render 'article-card', 
            article: article, 
            media_height: section.settings.image_height, 
            media_aspect_ratio: article.image.aspect_ratio, 
            show_image: section.settings.show_image, 
            show_date: section.settings.show_date, 
            show_author: section.settings.show_author, 
            forloop_index: forloop.index,
            blog_layout: section.settings.layout,
            read_more: section.settings.read_more_title, 
            show_excerpt: true
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', 
        paginate: paginate 
      -%}
    {%- endif -%}

  </div>
{%- endpaginate -%}

<script src="{{ 'main-blog-tabs.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "t:sections.main-blog.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.all.learn_more_preset.info"
      },
      {
        "type": "header",
        "content": "Banner settings"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "default": true,
        "label": "Show breadcrumbs"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs_top",
        "default": false,
        "label": "Show breadcrumbs above section",
		"info": "Doesn't work with transparent header"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "checkbox",
        "id": "image_block",
        "default": false,
        "label": "Show image on right side"
      },
	  {
        "type": "checkbox",
        "id": "radius_background",
        "default": false,
        "label": "Hide banner border radius"
      },
      {
        "type": "select",
        "id": "image_size",
        "options": [
          {
            "value": "50",
            "label": "Half width"
          },
          {
            "value": "38",
            "label": "One-third width"
          },
          {
            "value": "60",
            "label": "Two-third width"
          }
        ],
        "default": "60",
        "label": "Image block size"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
        "default": 70
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h3",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__3.label"
          },
          {
            "value": "h0",
            "label": "Extra large"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "richtext",
        "id": "description_text",
        "default": "<p>Our curated collections are meant to inspire your creative side and provide you with product options.</p>",
        "label": "t:sections.testimonials.blocks.testimonial.settings.text.label"
      },
      {
        "type": "select",
        "id": "text_size_block",
        "options": [
          {
          "value": "small",
          "label": "Small"
          },
          {
          "value": "medium",
          "label": "Medium"
          },
          {
          "value": "large",
          "label": "Large"
          }
          ],
        "default": "medium",
        "label": "Text size"
      },
      {
        "type": "text_alignment",
        "id": "heading_alignment",
        "label": "Content alignment",
        "default": "center"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-3"
      },
      {
        "type": "checkbox",
        "id": "text_secondary_color",
        "label": "Use secondary color for text",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "section_full_width",
        "label": "Full width section",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.main-blog.settings.header.content"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.main-blog.settings.layout.options__1.label"
          },
          {
            "value": "collage",
            "label": "t:sections.main-blog.settings.layout.options__2.label"
          }
        ],
        "default": "grid",
        "label": "t:sections.main-blog.settings.layout.label",
        "info": "t:sections.main-blog.settings.layout.info"
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "default": true,
        "label": "t:sections.main-blog.settings.show_image.label"
      },
      {
        "type": "select",
        "id": "image_height",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-blog.settings.image_height.options__1.label"
          },
          {
            "value": "small",
            "label": "t:sections.main-blog.settings.image_height.options__2.label"
          },
          {
            "value": "medium",
            "label": "t:sections.main-blog.settings.image_height.options__3.label"
          },
          {
            "value": "large",
            "label": "t:sections.main-blog.settings.image_height.options__4.label"
          }
        ],
        "default": "medium",
        "label": "t:sections.main-blog.settings.image_height.label",
        "info": "t:sections.main-blog.settings.image_height.info"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "t:sections.main-blog.settings.show_date.label"
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "default": false,
        "label": "t:sections.main-blog.settings.show_author.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.main-blog.settings.paragraph.content"
      },
      {
        "type": "text",
        "id": "read_more_title",
        "default": "Read More",
        "label": "t:sections.featured-blog.settings.read_more.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "banner_padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Banner top padding",
        "default": 200
      },
      {
        "type": "range",
        "id": "banner_padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Banner bottom padding",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 140
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 70
      }
    ]
  }

{% endschema %}