{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.57 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.57 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 750px) and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.72 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.72 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1200px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if section.blocks.size > 1 -%}
  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{% endif %}

<product-slider class="product-slider-wrapper color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="product-slider__wrapper page-width isolate">
    <div class="swiper {{ section.settings.image_position }} product-slider product-slider-{{ section.id }}" data-section-id="{{ section.id }}">

      <div class="swiper-wrapper">

        {% for block in section.blocks %}
          <div class="swiper-slide color-{{ block.settings.color_scheme_slide }}" {{ block.shopify_attributes }}>
            <div class="slide__wrapper">

              <div class="slide-left">
                <div class="slide-left__heading">
                  {% if block.settings.slide_title != blank %}
                    {%- assign notification_text = block.settings.slide_title -%}
                    {%- assign highlight_color = block.settings.highlight_slide_title -%}
                    <h2 class="slide__title inline-richtext {{ block.settings.heading_size }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                      {%- if notification_text contains '[' and notification_text contains ']' -%}
                        {%- assign before_highlight = notification_text | split: '[' | first -%}
                        {%- assign after_bracket = notification_text | split: '[' | last | split: ']' -%}
                        {%- assign highlighted_word = after_bracket[0] -%}
                        {%- assign after_highlight = after_bracket[1] -%}
                      
                        {{ before_highlight }}<span style="color: {{ highlight_color }};">{{ highlighted_word }}</span>{{ after_highlight }}
                      {%- else -%}
                        {{ notification_text }}
                      {%- endif -%}
                    </h2>
                  {% endif %}

                  {% if block.settings.slide_description %}
                    {% assign description_color = "" %}
                    {% if block.settings.text_color == "secondary" %}
                      {% assign description_color = 'data-color="secondary"' %}
                    {% endif %}
                    <div class="slide__description rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} rte-{{ block.settings.text_size_block }}" {{ description_color }}>
                      {{ block.settings.slide_description }}
                    </div>
                  {% endif %}
                </div>

                {% if block.settings.product != blank %}
                  <div class="slide__product color-{{ settings.card_color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">

                    {% if block.settings.product.featured_image != blank %}
                      <a href="{{ block.settings.product.url }}" class="slide__product-img-wrapper">
                        <img src="{{ block.settings.product.featured_image | image_url: width: 136, height: 139 }}" alt="{{ block.settings.product.featured_image.alt | escape }}" loading="lazy" width="136" height="139">

                        {%- if block.settings.product.media[1] != null -%}
                          <img src="{{ block.settings.product.media[1] | image_url: width: 136, height: 139 }}" alt="{{ block.settings.product.media[1].alt | escape }}" loading="lazy" width="136" height="139">
                        {%- endif -%}
                      </a>
                    {% endif %}

                    <div class="slide__product-info">

                      <h3 class="slide__product-title h6 {{ block.settings.product_heading_font_family }}-family">
                        <a href="{{ block.settings.product.url }}" class="full-unstyled-link">
                          {{ block.settings.product.title }}
                        </a>
                      </h3>

                      <div class="slide__product-price">
                        {% render 'price', 
                          product: block.settings.product, 
                          show_compare_at_price: true 
                        %}
                      </div>

                      {% if block.settings.link_label != blank and block.settings.enable_add_to_cart == false %}
                        <a href="{{ block.settings.product.url }}" class="slide__product-link link">
                          {{- block.settings.link_label }}
                          <span class="icon-wrap">{% render 'icon-caret' %}</span>
                        </a>
                      {% elsif block.settings.enable_add_to_cart %}
						<div class="quick-add no-js-hidden">
							{%- liquid
								assign card_product = block.settings.product
								assign section_id = section.id
								assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
								assign qty_rules = false
								if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
									assign qty_rules = true
								endif
							-%}
							{%- if card_product.variants.size > 1 or qty_rules -%}
								<modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
									<button id="{{ product_form_id }}-submit" type="submit" name="add" class="quick-add__submit button button--full-width" aria-haspopup="dialog" aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}" data-product-url="{{ card_product.url }}" tabindex="0">
										<span>
											{{ 'products.product.choose_options' | t }}
										</span>

										<div class="loading-overlay__spinner hidden">
											<svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
												<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
											</svg>
										</div>
									</button>
								</modal-opener>
								<quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
									<div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
										<button id="ModalClose-{{ card_product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
											{% render 'icon-close' %}
										</button>
										<div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
									</div>
								</quick-add-modal>
							{%- else -%}
								<product-form>
									{%- form 'product',
										card_product,
										id: product_form_id,
										class: 'form',
										novalidate: 'novalidate',
										data-type: 'add-to-cart-form'
									-%}
										<input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
										<button id="{{ product_form_id }}-submit" type="submit" name="add" class="quick-add__submit button button--full-width"
											aria-haspopup="dialog" aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}" aria-live="polite" data-sold-out-message="true"
											{% if card_product.selected_or_first_available_variant.available == false %}
												disabled
											{% else %}
												tabindex="0"
											{% endif %}
										>
											<span>
												{%- if card_product.selected_or_first_available_variant.available -%}
													{{ 'products.product.add_to_cart' | t }}
												{%- else -%}
													{{ 'products.product.sold_out' | t }}
												{%- endif -%}
											</span>
											<span class="sold-out-message hidden">
												{{ 'products.product.sold_out' | t }}
											</span>
											<div class="loading-overlay__spinner hidden">
												<svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
													<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
												</svg>
											</div>
										</button>
									{%- endform -%}
								</product-form>
							{%- endif -%}
						</div>
                      {% endif %}

                    </div>
                  </div>
                {% endif %}
              </div>

              <div class="slide-right {% if block.settings.enable_img_radius %} border-radius {% endif %}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
								{% liquid
									assign img = block.settings.image
									assign img_ratio = 100

									if img != blank
										assign img_ratio = 1 | divided_by: img.image_ratio | times: 100
									endif
								%}
								
								<div style="--image-height: {{ img_ratio }}%" class="product-slider__media media media--adapt media--transparent">
									{% if img != blank %}
										<img src="{{ img | image_url }}" loading="lazy" alt="slider image" width="605" height="634">
									{%- else -%}
										{{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
									{% endif %}
								</div>

              </div>
              
            </div>
          </div>
        {% endfor %}

      </div>

      {% if section.blocks.size > 1 -%}
        <div class="button__wrapper">
          <div class="swiper-button swiper-button-prev">
            {% render 'icon-arrow' %}
          </div>
          
          <div class="swiper-button swiper-button-next">
            {% render 'icon-arrow' %}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
</product-slider>

{% if section.blocks.size > 1 -%}
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-slider.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
  {
    "name": "Product slider",
    "class": "section",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "select",
        "id": "image_position",
        "options": [
          {
            "value": "image-left",
            "label": "Left"
          },
          {
            "value": "image-right",
            "label": "Right"
          }
        ],
        "default": "image-right",
        "label": "Image position"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-2"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 70
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 70
      }
    ],
    "blocks": [
      {
        "type": "Slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
						"type": "checkbox",
						"id": "enable_img_radius",
						"label": "Enable image radius",
						"default": true
					},
          {
            "type": "inline_richtext",
            "id": "slide_title",
            "default": "Title",
            "label": "Heading"
          },
          {
            "type": "color",
            "id": "highlight_slide_title",
            "label": "Heading highlight color",
						"info": "To change the color of a word, use '[]'. For example '[shop]'"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h3",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h2",
            "label": "t:sections.all.heading_size.label"
          },
          {
            "type": "richtext",
            "id": "slide_description",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
            "label": "Description"
          },
		  {
            "type": "select",
            "id": "text_size_block",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ],
            "default": "medium",
            "label": "Description font size"
          },
          {
            "type": "select",
            "id": "text_color",
            "options": [
              {
                "value": "main",
                "label": "Main"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              }
            ],
            "default": "main",
            "label": "Description color"
          },  
          {
            "type": "text",
            "id": "link_label",
            "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
          },
					{
						"type": "checkbox",
						"id": "enable_add_to_cart",
						"label": "Enable add to cart",
						"default": false
					},
          {
            "type": "color_scheme",
            "id": "color_scheme_slide",
            "label": "t:sections.all.colors.label",
            "default": "scheme-4"
          },
					{
						"type": "header",
						"content": "Product settings"
					},
					{
            "type": "product",
            "id": "product",
            "label": "t:sections.featured-product.settings.product.label"
          },
					{
						"type": "select",
						"id": "product_heading_font_family",
						"label": "Heading font family",
						"options": [
							{
							"value": "heading-font",
							"label": "Heading"
							},
							{
							"value": "body-font",
							"label": "Body"
							}
						],
						"default": "heading-font"
					}
        ]
      }
    ],
    "presets": [
      {
        "name": "Product slider",
        "blocks": [
          {
            "type": "Slide"
          },
          {
            "type": "Slide"
          }
        ]
      }
    ]
  }
{% endschema %}